[2022-06-21 17:01] bishalgoswami commented on #1310
Thanks for your comment, @TechsUK. This issue has been assigned to the doc author for review.

[2022-06-21 17:09] EllenWehrle opened #1311 "Documentation section is an empty card"
Documentation section is an empty card

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eadb9e2-bc3a-25e6-ec3d-e85e1f404405
* Version Independent ID: 5b70c7ac-bce9-36ec-09ce-c9291c1744e0
* Content: [Administer Power Platform - Power Platform](https://docs.microsoft.com/en-us/power-platform/admin/admin-documentation)
* C

[2022-06-21 18:07] pkothare opened #1313 "` --max-async-wait-time` not supported in `import-solution` task"
I've been using the guidance from [Tutorial: Automate solution deployment using GitHub Actions for Microsoft Power Platform](https://docs.microsoft.com/en-us/power-platform/alm/tutorials/github-actions-deploy), and noticed that [release-solution-to-prod-with-inputs.yml](https://github.com/microsoft/powerplatform-actions-lab/blob/main/sample-workflows/release-solution-to-prod-with-inputs.yml) uses

[2022-06-21 19:01] bishalgoswami commented on #1313
Thanks for your comment, @pkothare. This issue has been assigned to the doc author for review.

[2022-06-21 19:01] bishalgoswami commented on #1311
Thanks for your comment, @EllenWehrle. This issue has been assigned to the doc author for review.

[2022-06-21 20:40] superfliege opened #1314 "Licensing picture is not correct"
https://github.com/MicrosoftDocs/power-platform/raw/main/power-platform/admin/media/power-automate-licensing/license-comparison.png

https://github.com/MicrosoftDocs/power-platform/blob/main/power-platform/admin/power-automate-licensing/types.md

AI-Credits:
Power Apps per app license 250 credits
Power Apps per user license 500 credits

[2022-06-22 14:23] wnzn commented on #477
**There's a premium flow that sends approval requests to a set of users and then waits for the users to approve or reject the request before it continues running. Do the approvers need a premium license?**
Every user benefiting from the flow needs a license. But, if the flow is a personal automation where only the owner is benefiting from the flow, users who respond to approval requests don't need

[2022-06-22 18:17] pkothare commented on #1313
@kkanakas, can you provide an example of how to use it?

[code]

[2022-06-23 04:50] DavidPaf opened #1316 "Cannot install ALM for Power Platform"
Running coe alm install -f quickstart.json

Error:

info: Get access token for scope 499b84ac-1321-427f-aa17-267ca6975798
info: Get access token for scope https://default-d05eb216-2214-4e60-9a83-d10da576d3d5.crm.dynamics.com/
info: Get access token for scope https://api.bap.microsoft.com/
info: Get access token for scope https://api.powerapps.com/
info: Get access token for scope https://service.p

[2022-06-23 04:57] mikefactorial commented on #1316
Duplicate of https://github.com/microsoft/coe-starter-kit/issues/2849#issuecomment-1149938006

[2022-06-23 05:02] mikefactorial commented on #1316
We will address the updates to the Azure Cli that are causing this in our realease notes. For the time before my revert to the previous version of the Azure CLI as mentioned in the referenced issue

[2022-06-23 08:12] DavidPaf commented on #1316
Hi @mikefactorial

The az cli version I am using is the latest version already

================

PS C:\Users\ncdung\Downloads\coe-starter-kit-main\coe-starter-kit-main\coe-cli> az --version
azure-cli                         2.37.0

core                              2.37.0
telemetry                          1.0.6

Dependencies:
msal                            1.18.0b1
azure-mgmt-resource

[2022-06-23 13:16] KodulkarNilesh opened #1317 "Links on the documentation page are not working"
[Enter feedback here]

Links on the documentation page are not working
![image](https://user-images.githubusercontent.com/63402109/175307580-1190b889-0901-4d9e-92ef-4805c9cf6afe.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95bfb99a-cdf3-2d32-7c9c-b6517e4716d5
* Version Independent ID: 95bfb99a-cdf3-2d32-7c9c-b65

[2022-06-23 15:01] bishalgoswami commented on #1317
Thanks for your comment, @KodulkarNilesh. This issue has been assigned to the doc author for review.

[2022-06-24 12:26] philipverlinden opened #1319 "Install D365 Apps on Power Platform environments."
I hope this is not the new standard? In the past we installed vanilla Power Platform with minimal solutions installed, then enabled additional languages to get additional languages translations installed with the D365 App. Now it seems this route is not possible anymore?

What with customer that start with Power Platform and want to upscale to D365 Sales?
(https://docs.microsoft.com/en-gb/power-pl

[2022-06-24 13:00] bishalgoswami commented on #1319
Thanks for your comment, @philipverlinden. This issue has been assigned to the doc author for review.

[2022-06-24 14:19] philipverlinden commented on #1319
Note, I was able to install "Dynamics 365 Customer Service Community" app, but not the "Dynamics 365 for Sales, Enterprise Edition App" app. Message: _Installing Dynamics 365 apps such as Dynamics 365 Sales and Dynamics 365 Customer Service is only supported on environments that have been created with a database with the option to Enable Dynamics 365 apps set to Yes. Try installing this applicatio

[2022-06-24 14:43] #782 closed

[2022-06-24 23:47] junnhssn opened #1320 "Unable to get the desired output from advanced-bot-framework-composer-example1"
Hello,

While trying to perform the exercise in my own environment. I'm unable to get a proper response from the bot. I instead get the following code instead of the adaptive card :
![image](https://user-images.githubusercontent.com/47213023/175748943-646a433c-209a-4f0b-ac4a-7c8a8ef49c24.png)

Note that I am using the free trial of the Power virtual agents and the latest Bot framework composer app

[2022-06-27 07:12] jenschristianschroder commented on #1317
Hi @KodulkarNilesh,

Thank you for reporting this. We will fix these links as part of our next docs update.

In the meantime, you can find the referenced files here:
- deploymentSettings.json: https://github.com/microsoft/coe-starter-kit/blob/main/CenterofExcellenceALMAccelerator/config/deploymentSettings.json
- customDeploymentSettings.json: https://github.com/microsoft/coe-starter-kit/blob/main/

[2022-06-27 10:20] KodulkarNilesh opened #1321 "Given Team type does not exists"
[Enter feedback here]
1. Given Team type does not exists.
2. Documentation needs additional information e.g. Team Name and its purpose

![image](https://user-images.githubusercontent.com/63402109/175919271-e78affbd-4846-4acd-b7d7-eefea7826382.png)

![image](https://user-images.githubusercontent.com/63402109/175919366-d31367e0-3519-4e48-8a93-0ebe05ab866c.png)

---
#### Document Details

⚠ *Do not e

[2022-06-27 10:24] jenschristianschroder commented on #1321
Hi @KodulkarNilesh,

Thank you for reporting this. We will fix this in our next docs update

[2022-06-27 11:00] bishalgoswami commented on #1321
Thanks for your comment, @KodulkarNilesh. This issue has been assigned to the doc author for review.

[2022-06-27 11:31] KodulkarNilesh opened #1323 "Dataverse user setup"
This is incomplete documentation. Information like which AAD group to select, Membership type to be selected is missing. Step 7 is not relevant as per the screen shot below or may be this option needs to be configured once clicked 'Next' button.

![image](https://user-images.githubusercontent.com/63402109/175931669-a5b45316-fb75-459c-8b8d-212f67f245cb.png)

![image](https://user-images.githubuserc

[2022-06-27 13:00] bishalgoswami commented on #1323
Thanks for your comment, @KodulkarNilesh. This issue has been assigned to the doc author for review.

[2022-06-27 15:15] v-alarioza commented on #1320
Hi @junnhssn, thanks for your report!

I think the issue may be that you've placed the response in the response editor, instead of the code editor.

❌Response editor:
<img width="274" alt="Screenshot_448" src="https://user-images.githubusercontent.com/94562440/175973889-8e3f5d5c-b603-4b9a-ac20-d640677ef205.png">

✔Code editor:
<img width="253" alt="Screenshot_447" src="https://user-images.githubus

[2022-06-28 10:40] KodulkarNilesh opened #1324 "Pre-populated Webhook url"
Does the section becomes void from the documentation if webhook url is pre-populated in 'ALM Accelerator Admin Configuration' app?
Also no solution exists with name "Power Platform GitHub ALM"

![image](https://user-images.githubusercontent.com/63402109/176159091-e0fbde97-1b5e-4e6e-a313-56f92cbd8334.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-06-28 17:57] jimholtz commented on #1319
@philipverlinden
Taking to internal thread.

[2022-06-28 18:29] jimholtz commented on #1311
@EllenWehrle
Taking to internal thread.

[2022-06-28 18:29] #1311 closed

[2022-06-29 13:30] junnhssn commented on #1320
Hey, thanks for the quick response.  The issue was indeed the one you have mentioned above. I was able to get it working by placing the code in code editor. I'll be closing the issue now, thanks again.

[2022-06-29 13:30] #1320 closed

[2022-06-30 04:26] Katomasa0913 opened #1325 "Entity Extraction doesn't work for sample"
Following to your page, we made a sample chat bot.  But the entity extraction in that chat bot doesn't work.
Is this bug or do I need to change anywhere?

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 598df6b5-6691-3a4c-8112-ec6aec43d175
* Version Independent ID: 0a34a661-5035-3946-c2e4-a7ce5e697832
* Content: [クイックスタート: Microsoft Teams でボットを作成して展開する

[2022-06-30 05:00] bishalgoswami commented on #1325
Thanks for your comment, @Katomasa0913. This issue has been assigned to the doc author for review.

[2022-06-30 13:26] BhargavPrasadGorakanti opened #1326 "Unable to track Power Apps / Flows contributing to Power Platform API limits"
Hi, we've just started exploring the new reports for analytics and capacity consumption from power platform admin center. I'm looking for some help to better understand these reports and how to identify apps / flows that are contributing to high API requests.

Firstly, I downloaded the "Power Platform Request Licensed User" report. It gives me the API requests count next to the entitlement limits

[2022-07-01 11:23] CiOuInfo opened #1327 "colors of power apps"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68355901-533e-7ecf-75f5-b49d97f3edf5
* Version Independent ID: 68355901-533e-7ecf-75f5-b49d97f3edf5
* Content: [Color enumeration and ColorFade, ColorValue, and RGBA functions in Power Apps - Power Platform](https://docs.microsoft.com/en-us/power-plat

[2022-07-01 13:00] bishalgoswami commented on #1327
Thanks for your comment, @CiOuInfo. This issue has been assigned to the doc author for review.

[2022-07-01 13:39] satishkotaru opened #1329 "PowerPlatform Build tools Update issues"
Hello,
We are facing some issues with power platform Import solution. In the import task after the import operation is completed it is publishing with in the task. which is causing the failures for the pipelines. I am attaching the  log files below.
![image](https://user-images.githubusercontent.com/43855722/176905824-27ce7314-b6f1-4129-a847-39a9fee6e73b.png)

[2022-07-01 13:41] satishkotaru commented on #1329
[Import error.txt](https://github.com/MicrosoftDocs/power-platform/files/9029266/Import.error.txt)

[2022-07-01 15:53] JulijaLudvigaELCA opened #1330 "Clarification is needed for "Paid Power Apps Portals login" request count (200 requests)"
Hi,

Could you please explain what exactly is meant by "Paid Power Apps Portals login" have 200 API Requests in 24h?
Does it mean each Power App Portal user (licensed as login) can do maximum 200 CRUD operations against Dataverse each day? If so, this limit is an extreemly low limit. What exactly will happen if it is exceeded? Is it counted for each user individually, or for all purchased monthly

[2022-07-01 17:00] bishalgoswami commented on #1330
Thanks for your comment, @JulijaLudvigaELCA. This issue has been assigned to the doc author for review.

[2022-07-01 18:00] cpdSeattle commented on #1330
I can only comment on the entitlement logic.  Portals logins (authenticated users) are currently (July 2022) sold in packs of “100 login sessions.”  Each pack purchased would equal 100 logins * 200 Power Platform Requests = 20000 requests per day per month pooled at the “non-licensed user tenant-level limit.”  I am following-up with the Power Apps Portal Product Manager to confirm if the Docs shou

[2022-07-01 18:00] #1330 closed

[2022-07-01 20:21] phecke commented on #1329
@satishkotaru We do not handle support issues here.

If you need assistance with the Microsoft Power Platform Build Tools, post a message to the [Power Apps component framework, ALM & Pro Dev](https://powerusers.microsoft.com/t5/Power-Apps-Component-Framework/bd-p/pa_component_framework) forum.

[2022-07-01 20:21] #1329 closed

[2022-07-01 20:25] v-alarioza commented on #1325
Hi @Katomasa0913, are you referring to this section?

![image](https://user-images.githubusercontent.com/94562440/176963661-9eef4460-237b-4ca4-a2cd-cb3f27ca8abb.png)

If so, what is happening for you instead?

[2022-07-01 21:24] MattB-msft opened #1331 "Can we have a table with the Backup Retention rules for all environment types on this page?"
Would be supper helpful to have a 'simple' grid view of instance type to backup retention policy on this page.

Currently one has to dig though several paragraphs of information regarding backup policies and there are notices of conditions scattered throughout the document.

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2022-07-01 23:00] bishalgoswami commented on #1331
Thanks for your comment, @MattB-msft. This issue has been assigned to the doc author for review.

[2022-07-04 02:03] Katomasa0913 commented on #1325
Thanks, forgive me too late to answer.

That's so.
When the user ask national holidays, the bot doesn't bypass the question. The bot show the selection of vacation type.

Our edition is Japanese.

Sincerely,

[2022-07-04 08:15] khoanguyen-ms opened #1332 "Example commands are outdated and do not align with current reference"
[Enter feedback here]
In the [list of cmdlets](https://docs.microsoft.com/en-us/power-platform/admin/powerapps-powershell#cmdlet-list---maker-cmdlets), the following commands do not align with [the reference](https://docs.microsoft.com/en-us/powershell/module/microsoft.powerapps.administration.powershell/get-adminpowerapp?view=pa-ps-latest)

Incorrect:
Get-PowerApp (previously Get-App)
Remove-Powe

[2022-07-04 11:22] ancbhat opened #1333 "New-AdminPowerAppCdsDatabase command is failing with error "Cannot bind argument to parameter 'InputObject' because it is null.""
With the basic example command usage like:

New-AdminPowerAppCdsDatabase -EnvironmentName "$(EnvironmentGuid)" -CurrencyName "gbp" -LanguageName "1033" -Verbose

The execution is resulting in the following error :
New-AdminPowerAppCdsDatabase : Cannot bind argument to parameter 'InputObject' because it is null.

Have tried variations to the command parameters (with quotes and without quotes, upper

[2022-07-05 11:51] jenschristianschroder commented on #1324
This solution name will be corrected in next update of our docs

[2022-07-05 14:45] biterbit opened #1334 "Unclear note"
In this page there is a highlighted note: _While the behavior in process for a change, the types of all arguments to IfError must be compatible currently._

The wording of this note makes it unclear what point is being made.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f6e115c-c2fb-3e28-9223-101596ecf3bc
* Version I

[2022-07-05 15:00] bishalgoswami commented on #1334
Thanks for your comment, @biterbit. This issue has been assigned to the doc author for review.

[2022-07-05 15:30] virakones opened #1335 "Historical data for Power Virtual Agents app in Microsoft Teams"
Is it possible to download historical data for a Power Virtual Agent in Microsoft Teams beyond 30 days? ex. since a bots inception?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1961805-4bad-3b55-7f50-e077fcfc3865
* Version Independent ID: d102bd6a-c4bd-7c3a-d97e-660a0467e477
* Content: [Download chatbot sessions in

[2022-07-05 18:41] #1335 closed

[2022-07-05 19:45] sdieken opened #1336 "Dead link"
The hyperlink here does not go to intended page.
https://docs.microsoft.com/en-us/power-platform/admin/power-automate-licensing/types#transition-period:~:text=or%20flows.%20See-,Power%20Platform%20requests,-to%20understand%20both

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e5d831b-6683-e22f-f86e-1bb7475d067b
* Vers

[2022-07-05 21:00] bishalgoswami commented on #1336
Thanks for your comment, @sdieken. This issue has been assigned to the doc author for review.

[2022-07-05 23:00] MarkRobles opened #1337 "It says that you can accept files for upload in your PVA (Power Virtual Agent), but don't says how to use it, neither shows any example. It would be great!"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43ad579e-a36d-2798-d94d-9a5e61a017c3
* Version Independent ID: 13a629a6-ac9d-37b7-f04a-598ba5905b50
* Content: [Configuration of advanced features - Power Virtual Agents](https://docs.microsoft.com/en-us/power-virtual-agents/configuration-fundamentals

[2022-07-05 23:00] bishalgoswami commented on #1337
Thanks for your comment, @MarkRobles. This issue has been assigned to the doc author for review.

[2022-07-06 12:36] valdik5379455 opened #1338 "Possibly incorrect service tag for IP address of dynamics environments"
We were trying to find out IP addresses of our D365/Dataverse environments for network settings in local infrastructure. This page mentions that IP addresses are located in JSON file, under `AzureCloud` service tag.

However, when we did `nslookup` for our environment domain names, IP addresses we've got were not under `AzureCloud` service tag. We found them under `PowerPlatformInfra` tag in JSON

[2022-07-06 13:00] bishalgoswami commented on #1338
Thanks for your comment, @valdik5379455. This issue has been assigned to the doc author for review.

[2022-07-06 14:24] rrwolfe opened #1339 "Document Dataverse for Teams Governance solution gap for GCC, GCC High and DoD regions"
GCC, GCC High and DoD regions do not currently have the ability to post Adaptive Cards to Teams via bot. Due to this limitation, the Dataverse for Teams Governance solution fails to post Adaptive Cards when executed. If the flows supporting this solution are enabled, Dataverse for Teams owners will never receive the notifications for business justification and any Dataverse for Teams environment o

[2022-07-06 14:27] manuelap-msft commented on #1339
Duplicate of #1299 and will be addressed with the next release, which is awaiting docs team review before being merged.

[2022-07-06 14:27] #1339 closed

[2022-07-06 15:34] v-alarioza commented on #1337
Hi @MarkRobles, it appears this document is referencing features/documentation that has since been removed. Thank you for pointing this out - I'll get mentions of "file uploads" removed from this article.

[2022-07-06 15:34] #1337 closed

[2022-07-06 16:07] GjorgeGogov47 opened #1340 "Import Solution Build Task doesn't retrieve connection references from Deployment Settings file"
Hi,

I'm building a CI/CD pipeline for a Power Platform solution and I'm having an issue with pre-populating the connection references.
The solution is unmanaged on the first environment and managed on the second environment. Environment variables are also included in the deployment settings file and their values are modified as expected during the pipeline deployment, while the connection referen

[2022-07-06 17:00] bishalgoswami commented on #1340
Thanks for your comment, @GjorgeGogov47. This issue has been assigned to the doc author for review.

[2022-07-06 17:22] MarkRobles commented on #1337
Thanks for the clarification!

[2022-07-07 04:36] Katomasa0913 commented on #1325
Thank you for your comment.

I think that the article in English is accurate, but when translating to Japanese, the search word is little bit changed.  So the entity extraction doesn't work for us.
So I changed the search word was shorter, the entity extraction worked.

This article was only machine translated, but not tested in Japanese.

Anyway, thanks a lot for my bad english.

Sincerely,

[2022-07-07 04:36] #1325 closed

[2022-07-07 14:47] v-alarioza commented on #1325
@Katomasa0913 Ahh that makes sense. I'm going to reopen this issue so that I can bring it up to our localization team.

And your English is not bad at all 🙂

[2022-07-07 20:57] tomhig opened #1341 "Proposed corrections"
3 proposed corrections

1. There are 3 links at the end of the following section that offer suggestions on how to clean up finance and operations data:

https://docs.microsoft.com/en-us/power-platform/admin/finance-operations-storage-capacity#actions-to-take-for-a-finance-and-operations-capacity-deficit

Of the 3 suggestions listed, Archive Inventory transactions will not free up storage space. Th

[2022-07-08 05:56] MichaelHolmesWP opened #1342 "Add new "SkipAuditData" flag to CmdLet "Copy-PowerAppEnvironment" Example"
For the "Copy-PowerAppEnvironment" cmdlet in the "Microsoft.PowerApps.Administration.Powershell" module, please add "SkipAuditData = false" to the "$copyToRequest" command request definition example, to reflect the new opt-in audit copy feature built into the current/latest Microsoft Business Platform API copyTo REST Endpoint reflected/used by the browser UI:
https://docs.microsoft.com/en-us/power

[2022-07-08 06:02] MichaelHolmesWP commented on #1342
Update: new line should actually be "SkipAuditData = $true" to reflect the "opt-in" nature of the new feature (ie at the moment it should skip by default) and the correct powershell $true object

[2022-07-08 07:50] spatialcase commented on #687
This is still an issue. Imported flows are not listed by Get-AdminFlow unless they have been turned on.

[2022-07-08 11:41] Jandev opened #1343 "Including documents doesn't work and shows the markdown"
[Enter feedback here]

There are several pages in the Power App documentation containing the following text:
[code]
See this example:
![screenshot containing the raw markdown on a published page](https://user-images.githubusercontent.com/462356/177985385-b9977b05-1b9d-4519-a372-4e1e1ba4aab6.png)

I'd love to improve this but aren't familiar with this `include` feature.

---
#### Document Details

[2022-07-08 13:00] bishalgoswami commented on #1343
Thanks for your comment, @Jandev. This issue has been assigned to the doc author for review.

[2022-07-08 18:07] tapanm-MSFT commented on #1343
Thank you for your reaching out. Documentation has been fixed, please allow some time to reflect the changes.

[2022-07-08 18:07] #1343 closed

[2022-07-10 23:22] rajyraman opened #1344 "Please document what Managed Environment features are"
Other than weekly email digests I can't understand what Managed environments provide on top of standard environments.

![image](https://user-images.githubusercontent.com/5035266/178165945-750fb1a3-ffa3-4d95-a297-bf710ea2c558.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8832c38-f621-879b-85a3-a0af993ddcd6
* Vers

[2022-07-11 01:00] bishalgoswami commented on #1344
Thanks for your comment, @rajyraman. This issue has been assigned to the doc author for review.

[2022-07-11 12:47] manuelap-msft commented on #1301
Updated with latest release, thanks for the feedback!

[2022-07-11 12:47] #1301 closed

[2022-07-11 12:47] manuelap-msft commented on #1299
Updated with latest release, thanks for the feedback!

[2022-07-11 12:47] #1299 closed

[2022-07-11 12:47] manuelap-msft commented on #1298
Updated with latest release, thanks for the feedback!

[2022-07-11 12:47] manuelap-msft commented on #1297
Updated with latest release, thanks for the feedback!

[2022-07-11 12:47] #1297 closed

[2022-07-11 12:47] manuelap-msft commented on #1296
Updated with latest release, thanks for the feedback!

[2022-07-11 12:47] #1296 closed

[2022-07-11 12:48] manuelap-msft commented on #1284
Updated with latest release, thanks for the feedback!

[2022-07-11 12:48] #1284 closed

[2022-07-11 16:27] kashanico opened #1345 "Video Missing"
The Standard vs Managed video at the bottom is only a picture.
![image](https://user-images.githubusercontent.com/64927104/178312463-dcc982f4-7f39-4f10-81ac-318862496b1a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8832c38-f621-879b-85a3-a0af993ddcd6
* Version Independent ID: f8832c38-f621-879b-85a3-a0af993ddcd

[2022-07-11 17:16] gatep5 opened #1346 "Syntax issues with examples..."
All of the examples are shown using double-quotes for the options of the Split method, but only single-quotes are accepted for the options.  Otherwise you get an "invalid syntax" error when using in Power Automate.

For example Split("08/27/18", "/") should read as Split('08/27/18', '/').

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-07-11 19:00] bishalgoswami commented on #1346
Thanks for your comment, @gatep5. This issue has been assigned to the doc author for review.

[2022-07-11 19:31] tapanm-MSFT commented on #1346
Thank you for reaching out. This is documented in Power Automate reference for using expressions, see [Split function reference](https://docs.microsoft.com/azure/logic-apps/workflow-definition-language-functions-reference#split). To navigate, go to [Cloud flows](https://docs.microsoft.com/power-automate/overview-cloud) > expand **How to** > select **Reference: Use functions in expressions** .

[2022-07-11 19:31] #1346 closed

[2022-07-11 22:04] RedsGT commented on #1345
@kashanico I think the arrow is supposed to be part of the diagram?  Not a play button?

[2022-07-11 22:08] RedsGT commented on #1336
@sdieken Where is that URL being generated from? I don't see it in the referenced doc.

[2022-07-12 17:05] jebalert opened #1347 "Delegation list link broken"
The link to the Delegation list is broken
The following URL produced a 404:
https://docs.microsoft.com/en-us/power-platform/power-fx/maker/canvas-apps/delegation-overview.md#delegable-data-sources

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b784f58-59eb-fb06-da8f-4747f6900db3
* Version Independent ID: 9b784f58-59eb

[2022-07-12 17:54] rywilli opened #1348 "GCC Specific Endpoint Needed"
Can someone update this page to include a GCC specific endpoint for GCC customers? As it is written now, GCC customers will get an error. The issue is in the 'Deploy a custom canvas for your bot' section, in the code provided in step 2. The line below needs to be updated to be GCC specific when appropriate:

Commercial version: var theURL = "https://powerva.microsoft.com/api/botmanagement/v1/direc

[2022-07-12 19:08] jimholtz commented on #1345
@kashanico
Thanks for the feedback. The image is an arrow and not a play button. If we get more feedback like this, we'll redo the arrow.

[2022-07-12 19:08] #1345 closed

[2022-07-12 19:14] jimholtz commented on #1344
@rajyraman
Thanks for the feedback. The features are: weekly digests, sharing limits, and data policies. We'll consider updating the text to clarify.

[2022-07-12 19:22] jimholtz commented on #1341
Taking to internal thread.

[2022-07-13 06:37] Oodit opened #1349 "Note css is not working properly"
Dear team,

On this page of sequence function, there is one note as below but looks like its css is not working as expected.

[!NOTE] > Sequence is limited to 50,000 records.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b1e7241-b0b0-08c7-31bb-ce1bdc25a03e
* Version Independent ID: 6b1e7241-b0b0-08c7-31bb-ce1bdc25a03e

[2022-07-13 13:00] bishalgoswami commented on #1349
Thanks for your comment, @Oodit. This issue has been assigned to the doc author for review.

[2022-07-13 18:25] jimholtz commented on #1333
@ancbhat
Sorry you're experiencing this issue. Please see if you can get your question answered here:
https://powerusers.microsoft.com/t5/Power-Apps-Community/ct-p/PowerApps1

[2022-07-13 18:25] #1333 closed

[2022-07-13 18:35] jimholtz commented on #1338
@valdik5379455
All ip under PowerPlatformInfra will be still under AzureCloud. However it might not be the exact ip entry. For example, in PowerPlatformInfra, it will be 1.1.1.1, in AzureCloud, it will be 1.1.0.0/16.

[2022-07-13 18:35] #1338 closed

[2022-07-13 19:29] eccountable opened #1351 "Need ports and protocols"
Please add information about what ports and protocols are needed to connect to Exchange, because some implementations have strict security.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5033cf14-8912-471d-66b7-61ca7e29d752
* Version Independent ID: a7c05a79-cd65-1717-d4a4-0dde3c368263
* Content: [Connect to Exchange S

[2022-07-13 20:46] tapanm-MSFT commented on #1349
Thank you for your feedback. Documentation has been fixed and the changes will be reflected soon.

[2022-07-13 20:46] #1349 closed

[2022-07-13 21:00] bishalgoswami commented on #1351
Thanks for your comment, @eccountable. This issue has been assigned to the doc author for review.

[2022-07-13 21:49] jimholtz commented on #1336
@sdieken
Thanks for the heads up. Link fixed.

[2022-07-13 21:49] #1336 closed

[2022-07-13 21:56] jimholtz commented on #1326
@BhargavPrasadGorakanti
Please see if you can get your question answered here:
https://powerusers.microsoft.com/t5/Power-Apps-Community/ct-p/PowerApps1

[2022-07-13 21:56] #1326 closed

[2022-07-14 15:11] kamaleshbhamare opened #1353 "Typo in formula"
Patch( IceCream, Lookup( IceCream, Flavor = "Chocolate" ), { Quantity: 400 } )

In the above formula, 'Lookup' should be 'LookUp'. With uppercase 'U'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa25d2ca-ccc1-0e10-e065-731926bb673c
* Version Independent ID: fa25d2ca-ccc1-0e10-e065-731926bb673c
* Content: [Patch func

[2022-07-14 18:45] andreylisovskiy opened #1354 "Fix case in method call in Examples"
Please fix the function call name in your "Examples" on https://docs.microsoft.com/en-us/power-platform/power-fx/reference/function-patch

Copy pasting your function calls in this example fails, because it is not "Lookup" but "LookUp" in PowerApps!
![image](https://user-images.githubusercontent.com/21151899/179059229-39d18b59-5439-481f-aef3-b246adfc8ff7.png)

---
#### Document Details

⚠ *Do not e

[2022-07-14 19:00] bishalgoswami commented on #1354
Thanks for your comment, @andreylisovskiy. This issue has been assigned to the doc author for review.

[2022-07-14 22:44] JaredRic opened #1355 "Dead links on a page"
3 dead links from this sentence:

You can use Navigate to create or update [context variables](https://docs.microsoft.com/en-us/power-apps/maker/canvas-apps/working-with-variables.md#use-a-context-variable) of the new screen. As an optional third argument, pass a [record](https://docs.microsoft.com/en-us/power-apps/maker/canvas-apps/working-with-tables.md#records) that contains the context-variabl

[2022-07-14 23:00] bishalgoswami commented on #1355
Thanks for your comment, @JaredRic. This issue has been assigned to the doc author for review.

[2022-07-14 23:05] tapanm-MSFT commented on #1355
Thank you for reaching out. Links have been fixed and the changes will be reflected soon.

[2022-07-14 23:05] #1355 closed

[2022-07-15 08:04] menghsinchen opened #1356 "Translation mistake (zh-tw)"
「任何想要在一或多個環境中一直使用的連接器，都必須分類為 封鎖。」is wrong.
It should be「任何您完全不想要在一或多個環境中被使用到的連接器，都必須分類為 封鎖。」instead.

Original text: Any connectors that you want to keep from being used at all across one or more environments should be classified as Blocked. (https://docs.microsoft.com/en-us/power-platform/admin/dlp-connector-classification)

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs.microsoft.com ➟ GitHub 問題連結的必要項。*

[2022-07-15 09:00] bishalgoswami commented on #1356
Thanks for your comment, @menghsinchen. This issue has been assigned to the doc author for review.

[2022-07-17 08:18] HandyAndyOnGitHub opened #1357 "But Email isn't the UPN?!!!"
I'm incredulous.  Email is NOT the User Principal Name (UPN)!  Microsoft people, you know this!

This function causes unnecessary confusion, random bugs when UPNs intermitantly don't match emails (eg due to capitilisations) and straight out failure when a company's UPNs are different to their emails.

Documentation people please feed back to the product team that User().Email should return the cur

[2022-07-17 09:00] bishalgoswami commented on #1357
Thanks for your comment, @HandyAndyOnGitHub. This issue has been assigned to the doc author for review.

[2022-07-18 07:39] mustaqueali opened #1358 "Power Platform Build tool - Solution Import task is not taking inputs given in the "Deployment Settings File" for the Environment Variable Settings"
Hi team,

I created a new json file to store the Environment variables and used the same in the Import task, but seems this input is not being executed and the values in the Target tables are not updated.  The import task shows Succesfull, but no specific logs for reading and updating the different values in the target system.

can you please advise what needs to be done ?
![image](https://user-im

[2022-07-18 20:23] #1358 closed

[2022-07-19 08:13] mustaqueali commented on #1358
I have created a request there as well - https://powerusers.microsoft.com/t5/Power-Platform-and-Dynamics-365/Power-Platform-Build-tool-Solution-Import-task-is-not-taking/m-p/1675000#M496

[2022-07-19 11:51] shammyowens opened #1360 "Broken Links"
The [delegation list](https://docs.microsoft.com/en-us/power-platform/power-fx/maker/canvas-apps/delegation-overview.md#delegable-data-sources) and [delegation overview](https://docs.microsoft.com/en-us/power-platform/power-fx/maker/canvas-apps/delegation-overview.md) links are broken on this page.

I am guessing they should go to here

https://docs.microsoft.com/en-us/power-apps/maker/canvas-apps

[2022-07-19 13:00] bishalgoswami commented on #1360
Thanks for your comment, @shammyowens. This issue has been assigned to the doc author for review.

[2022-07-19 19:46] thayana2021js opened #1362 "specification_pwerBi"
[Insira comentários aqui]

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: 85d9a99e-c1d1-d2c6-3306-b9603ac5db77
* Version Independent ID: 799a66d3-bf5b-0309-794f-41396aabb619
* Content: [Visão Geral - Power Virtual Agents](https://docs.microsoft.com/pt-br/power-virtual-agents/fundamentals-what-is-power-virt

[2022-07-19 21:00] bishalgoswami commented on #1362
Thanks for your comment, @thayana2021js. This issue has been assigned to the doc author for review.

[2022-07-19 23:26] martin-dreyer-teck opened #1363 "Misleading licensing guidance"
The phrase "or the app needs to be assigned a Per App license" is misleading because it suggests one per-app license can be assigned to cover the app. In truth, per app licenses apply one-_per-user_.

I suggest this phrase be adjusted to "or the app needs to be assigned multiple Per App licenses".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2022-07-19 23:48] tapanm-MSFT commented on #1360
Thank you for reaching out. Documentation has been fixed and the changes will be visible soon.

[2022-07-19 23:48] #1360 closed

[2022-07-20 01:00] bishalgoswami commented on #1363
Thanks for your comment, @martin-dreyer-teck. This issue has been assigned to the doc author for review.

[2022-07-20 15:05] kkanakas commented on #1340
Hi @GjorgeGogov47 ,
                                    I would recommend that you open a support case and share the logs with us, so we can look at what is actually going on here.  Would please do that? Please do not post the logs of your org on the GitHub thread as it is public.

[2022-07-20 16:10] v-alarioza commented on #1362
Hi @thayana2021js, looks like you didn't add any details to this issue. Feel free to edit your first comment, or add a new one. If you opened this by accident, let me know and I'll close it.

[2022-07-20 16:40] jimholtz commented on #1351
@eccountable
Thanks for the suggestion. We'll add the following to the article:
https://docs.microsoft.com/en-us/exchange/plan-and-deploy/deployment-ref/network-ports?view=exchserver-2019

[2022-07-20 16:40] #1351 closed

[2022-07-20 17:31] jimholtz commented on #1356
@menghsinchen
Thanks for bringing this to our attention. Taking to internal email.

[2022-07-20 17:31] #1356 closed

[2022-07-20 18:15] jimholtz commented on #1332
@khoanguyen-ms
Taking to internal thread.

[2022-07-20 18:15] #1332 closed

[2022-07-20 18:51] jimholtz commented on #1331
@MattB-msft
Thanks for the suggestion. Taking to internal thread for action.

[2022-07-20 18:51] #1331 closed

[2022-07-20 21:01] Planet-Tron opened #1364 "Please clarify if Commercial to GCC High is support."
Can you clarify if the following scenarios are supported?

Commercial to GCC
Commercial to GCC High
GCC to GCC High

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf83baaf-d9eb-6e3d-1040-9ae94cd410db
* Version Independent ID: ae37a7a0-1e5a-a2ef-72c8-bf6d2601cae1
* Content: [Migrate an environment to a different tenant

[2022-07-20 23:00] bishalgoswami commented on #1364
Thanks for your comment, @Planet-Tron. This issue has been assigned to the doc author for review.

[2022-07-21 02:11] MichaelHolmesWP commented on #1342
@jimholtz cheers, but it still needs a slight tweak, should be "SkipAuditData = $true" inside the hash literal, not ": true"
<img width="561" alt="image" src="https://user-images.githubusercontent.com/62692181/180114659-2b7b4285-7d27-41e2-bdb9-74642c6501c9.png">

[2022-07-22 06:08] xuyen1 opened #1366 "Add clarification what function to use when retrieving user's email"
The User() document states User().Email returns the UPN, not the SMTP address. It is not clear how to get the email of the current user. Our customer suggested include this part in the document for clarity:
Don’t user User().Email to get email of current user as it does not work for scenario where SMTP email and UPN are different.
Use Office365Users.MyProfileV2().mail to get current user’s email a

[2022-07-22 07:00] bishalgoswami commented on #1366
Thanks for your comment, @xuyen1. This issue has been assigned to the doc author for review.

[2022-07-22 07:42] vinceno commented on #1325
Thx you very much @Katomasa0913 and @v-alarioza ..  I'm including @Dealgan12 who manages the translation of PVA documentation to follow thru and this this issue addressed.  Thanks once again for raise the issue !

[2022-07-22 12:38] omarjimz opened #1367 "Can't find if a RPA license add-on can be re-assigned and how"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc1f9bc0-e73d-910c-2f80-bc450c9c39b2
* Version Independent ID: bc1f9bc0-e73d-910c-2f80-bc450c9c39b2
* Content: [Add-ons for Power Automate licensing - Power Platform](https://docs.microsoft.com/en-us/power-platform/admin/power-automate-licensing/add-o

[2022-07-22 13:00] bishalgoswami commented on #1367
Thanks for your comment, @omarjimz. This issue has been assigned to the doc author for review.

[2022-07-22 16:56] jimholtz commented on #1314
@superfliege
Thanks for bringing this to our attention. We'll get this reviewed and updated.

[2022-07-22 16:56] #1314 closed

[2022-07-22 19:21] GjorgeGogov47 commented on #1340
Thank you for your response.
A support ticket has been created for this issue.

[2022-07-22 19:21] #1340 closed

[2022-07-25 14:40] Dealgan12 commented on #1325
@Katomasa0913 @v-alarioza @vinceno I have send this onto our localization supplier to review and update. Will let you know when completed.

[2022-07-26 08:47] LuiseFreese opened #1369 "Wrong information on user-impersonation API permissions for application user"
In

[Configure service connections using a service principal](https://docs.microsoft.com/en-us/power-platform/alm/devops-build-tools#configure-service-connections-using-a-service-principal) it is instructed to follow [Azure application registration](https://docs.microsoft.com/en-us/power-apps/developer/data-platform/use-single-tenant-server-server-authentication#azure-application-registration), wh

[2022-07-26 09:21] rajyraman commented on #1369
user_impersonation scope is only relevant if you are using Implicit grant.

![image](https://user-images.githubusercontent.com/5035266/180971615-f0e76568-1d60-4caf-8632-ec77485fb8cb.png)

Without adding the scope to the App Registration, you get this error.

![image](https://user-images.githubusercontent.com/5035266/180970335-193aea58-2515-4a65-980c-0c56dcd3919d.png)

Below is the sample code I us

[2022-07-27 02:54] VDMT opened #1370 "Incorrect step details for new connection"
[Enter feedback here]
Step 2 below [create connections](https://docs.microsoft.com/en-us/power-platform/guidance/coe/setup-core-components#create-connections) header references: Dataverse > Connections > + New connection.
But the URL from step 1: flow.microsoft.com does not have "Dataverse" as a link instead should say:
Data > Connections > + New connection

---
#### Document Details

⚠ *Do not ed

[2022-07-27 03:00] bishalgoswami commented on #1370
Thanks for your comment, @VDMT. This issue has been assigned to the doc author for review.

[2022-07-27 03:59] waiholiu opened #1371 "missing Mandatory Environment variables during import"
Mandatory Environment variables (https://docs.microsoft.com/en-us/power-platform/guidance/coe/setup-core-components#gather-environment-variable-values) should include Power Automate Environment Variable.

If this is not set, then you can't turn on the below child flows in the next step.

CLEANUP HELPER - Check Deleted (Business Process Flows)
CLEANUP HELPER – Check Deleted (Canvas Apps)
CLEANUP HE

[2022-07-27 05:00] bishalgoswami commented on #1371
Thanks for your comment, @waiholiu. This issue has been assigned to the doc author for review.

[2022-07-27 07:51] mainguyen91 opened #1372 "Incomplete instruction on page CoE setup audit log"
Hi team, in this document, section "Create an Azure AD app registration for the Office 365 Management API", step 6 tells user to add "Delegated permissions" only. This will not be enough to get status 200 when testing "StartSubscription" in the next steps.
The missing part is: besides "Delegated permissions", we also need to add "Application Permission" (ActivityFeed.Read and ServiceHealth.Read).

[2022-07-27 07:53] manuelap-msft commented on #1372
We have tested this with Delegated permissions and if the user initiating the connection has access to the Audit Log, this is sufficient.

[2022-07-27 07:55] manuelap-msft commented on #1370
Thanks for letting us know! Made the change locally now ready to be pushed live with our next update

[2022-07-27 07:55] manuelap-msft commented on #1371
Thanks for letting us know, we accidentally removed this when we we were moving stuff around in docs! I made the change locally now ready to be pushed live with our next update in a few days!

[2022-07-27 08:07] Ahzed11 opened #1373 "English code syntax in code examples instead of French ones on the French article"
The code examples are written with the english synthax. It is quite misleading for someone like me who is new to PowerPlatform. I could not figure out how to make the examples work with my PowerApp which is configured in French by my organization.

To fix the french article, you would have to replace all the "," with ";" and replace all the ";" with ";;"

---
#### Détails du document

⚠ *Ne pas mo

[2022-07-27 09:00] bishalgoswami commented on #1373
Thanks for your comment, @Ahzed11. This issue has been assigned to the doc author for review.

[2022-07-27 09:00] bishalgoswami commented on #1372
Thanks for your comment, @mainguyen91. This issue has been assigned to the doc author for review.

[2022-07-27 12:20] crowdedLeopard opened #1374 "Data Export not available on PPAC version 1.2022.718.7"
Hello,

We cannot see the data export option in our version of the PPAC. Please advise on how we can enable this feature

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88890037-f7de-6084-f506-dc917adc0508
* Version Independent ID: 95103288-f976-3b83-d089-be6d315e563f
* Content: [Set up exporting to Application Insights

[2022-07-27 13:00] bishalgoswami commented on #1374
Thanks for your comment, @crowdedLeopard. This issue has been assigned to the doc author for review.

[2022-07-27 14:53] manuelap-msft commented on #1363
Thank you, I've made those changes locally and they will go live when we next update our docs!

[2022-07-27 15:03] lezucket commented on #1373
Hi

I think you may have the wrong Lee.

Lee J Zuckett
Sr Program Manager | (425) 707-2126
Microsoft Business Application Platform
From: Bishal Goswami ***@***.***>
Sent: Wednesday, July 27, 2022 2:01 AM
To: MicrosoftDocs/power-platform ***@***.***>
Cc: Lee Zuckett ***@***.***>; Assign ***@***.***>
Subject: Re: [MicrosoftDocs/power-platform] English code syntax in code examples instead of French o

[2022-07-27 18:26] JohnBontjer opened #1375 "Typo in paragraph Poortgebruik"
Just a little typo in paragraph '[Poortgebruik](https://docs.microsoft.com/nl-nl/power-platform/admin/wp-onpremises-gateway#port-usage)'

typo:
De uitgaande verbinding communiceert op de volgend epoorten

should be:
De uitgaande verbinding communiceert op de volgende poorten

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com

[2022-07-27 19:00] bishalgoswami commented on #1375
Thanks for your comment, @JohnBontjer. This issue has been assigned to the doc author for review.

[2022-07-28 12:14] manuelap-msft commented on #1371
Updated now!

[2022-07-28 12:14] #1371 closed

[2022-07-28 12:14] manuelap-msft commented on #1370
This has been updated now!

[2022-07-28 12:14] #1370 closed

[2022-07-28 12:15] manuelap-msft commented on #1363
We've made these updates now!

[2022-07-28 12:15] #1363 closed

[2022-07-28 12:15] manuelap-msft commented on #1307
Thanks for the feedback - we can definitely improve on that section! I have put this on our list for the next docs update!

[2022-07-29 11:41] jimmyeao opened #1377 "Legacy Portal no longer available"
[Enter feedback here]
https://docs.microsoft.com/en-us/power-platform/admin/connect-exchange-online#verify-that-you-have-the-profile-microsoft-exchange-online refers to the "Legacy Web Client" however this is not visible and no obvious way to switch to it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0d917db-1300-f2

[2022-07-29 13:00] bishalgoswami commented on #1377
Thanks for your comment, @jimmyeao. This issue has been assigned to the doc author for review.

[2022-07-29 14:03] #1362 closed

[2022-07-29 14:04] v-alarioza commented on #1348
@rywilli Thanks for reporting this! The doc has been updated and is now published.

[2022-07-29 14:04] #1348 closed

[2022-07-29 20:33] jimholtz commented on #1377
@jimmyeao
For apps that have "Web" as the UI type, you'll see "Advanced Settings" when clicking the Settings gear.
This topic shows how to see the UI type.
https://docs.microsoft.com/en-us/power-apps/user/navigation#move-between-apps

[2022-07-29 20:33] #1377 closed

[2022-07-29 20:34] jimholtz commented on #1375
@JohnBontjer
Thanks for the feedback. We'll get this corrected.

[2022-07-29 20:34] #1375 closed

[2022-07-29 20:43] jimholtz commented on #1295
@juha-ms
Sorry for the delayed response. Does the following note in the topic address your question?
 Note
Currently, the applications and services where lockbox policy is going to be enforced once enabled are Power Apps (including AI Builder, Power Apps portals), Power Automate, Dataverse, and Customer Insights.

If not, please reopen.

[2022-07-29 20:43] #1295 closed

[2022-07-29 20:54] jimholtz commented on #1293
@AncaRadu
Sorry for the delayed response. Taking to internal thread.

[2022-07-29 20:54] #1293 closed

[2022-07-29 20:57] jimholtz commented on #1290
@hajimemutsuki
Sorry for the delayed response. For product-related feedback, visit https://aka.ms/ppac-ideas

[2022-07-29 20:57] #1290 closed

[2022-07-29 20:58] #1282 closed

[2022-07-29 21:02] jimholtz commented on #1261
@Papa-Cho
Sorry for the delayed response. This content has been rewritten. Please reopen if your question is not addressed.

[2022-07-29 21:02] #1261 closed

[2022-07-29 21:12] jimholtz commented on #1272
@valeryplotnik
Sorry for the delayed response. We'll pass this on to the product group for their attention.

[2022-07-29 21:12] #1272 closed

[2022-07-29 21:19] jimholtz commented on #1267
@samadane
Sorry for the delayed response. Taking to internal thread.

[2022-07-29 21:19] #1267 closed

[2022-07-29 21:27] jimholtz commented on #1274
@popujol
Sorry for the delayed response and thank you for the suggestion. We'll be updating this content in the future and will review your suggestion then.

[2022-07-29 21:27] #1274 closed

[2022-07-29 22:40] jimholtz commented on #1305
@PlateSpinner
Thanks for the feedback. We've corrected the link.

[2022-07-29 22:40] #1305 closed

[2022-07-30 01:45] phecke commented on #256
@pierceboggan Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-07-30 01:45] #256 closed

[2022-08-01 13:36] kayetter opened #1379 "Add comment that Refresh does not work on a custom page in model driven app."
https://powerusers.microsoft.com/t5/Building-Power-Apps/Refresh-function-not-working-on-custom-page-model-driven-app/td-p/1384587

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4face5c1-c211-72f3-6f94-f0f858be931a
* Version Independent ID: 4face5c1-c211-72f3-6f94-f0f858be931a
* Content: [Refresh function in Power Apps

[2022-08-01 15:00] bishalgoswami commented on #1379
Thanks for your comment, @kayetter. This issue has been assigned to the doc author for review.

[2022-08-01 21:47] jimholtz commented on #1374
@crowdedLeopard
If your region shows availability:
https://docs.microsoft.com/en-us/power-platform/admin/set-up-export-application-insights#regional-availability
And you're still having this issue, please contact support: https://powerapps.microsoft.com/support/

[2022-08-01 21:47] #1374 closed

[2022-08-02 07:35] joshua-soto-kitcher opened #1380 "Referencing old CRM 2015 Package Deployer Tool"
The Documentation is making referencing and even links the old CRM 2015 Package Deployer tool:
https://marketplace.visualstudio.com/items?itemName=DynamicsCRMPG.MicrosoftDynamicsCRMSDKTemplates

Instead, it should be referencing the VS 2019 Power Platform Tools (and/or 2022 once that gets released):
https://marketplace.visualstudio.com/items?itemName=microsoft-IsvExpTools.PowerPlatformTools

For r

[2022-08-02 09:00] bishalgoswami commented on #1380
Thanks for your comment, @joshua-soto-kitcher. This issue has been assigned to the doc author for review.

[2022-08-02 17:32] atatistcheff opened #1381 "Icon download link broken"
Hi there, trying to download the set of icons but the link is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e1e3e9c-4177-7991-9e9a-861baf21cbd2
* Version Independent ID: 51970c35-5399-e9b2-ac1b-250032f2840d
* Content: [Microsoft Power Platform icons - Power Platform](https://docs.microsoft.com/en-us/power-pla

[2022-08-02 18:50] jimholtz commented on #1381
@atatistcheff
Taking to internal thread.

[2022-08-02 18:50] #1381 closed

[2022-08-03 14:18] jthomps19 opened #1382 "Update link to Application Insights environment from classic to new workspace based resource"
The below line has a link to the "classic" Application Insights resource which will be deprecated.
Ensure that you have an **[Application Insights environment]**
(https://docs.microsoft.com/en-us/azure/azure-monitor/app/create-new-resource)

Should be directed to the new workspace based link.
https://docs.microsoft.com/en-us/azure/azure-monitor/app/create-workspace-resource

Thanks!

Jeff (jthomps

[2022-08-03 15:00] bishalgoswami commented on #1382
Thanks for your comment, @jthomps19. This issue has been assigned to the doc author for review.

[2022-08-03 16:13] FAC-1312 opened #1383 "What will happend with the channel associated with the Dataverse for Teams environment?"
Documentation is not explicit about what could happen with teams channel if we do nothing to reactivate the Dataverse for Teams environment.

In case of deletion of this environment, the channel will continue to be available isn't?

Thank you in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 027010ad-198c-2ae6

[2022-08-03 17:00] bishalgoswami commented on #1383
Thanks for your comment, @FAC-1312. This issue has been assigned to the doc author for review.

[2022-08-04 13:54] rrhkpmg opened #1384 "Starting point for instructions & email criteria"
As an infrequent Power Platform administrator, I would have found it helpful to be reminded how to get to the page where **Advanced Find** can be accessed: instructions along the lines of

1. From PPAC, access your **Environment URL**
2. Use the Settings cog (top right) to access **Advanced settings**
3. Within the **Business Management** page, use the Advanced filter funnel icon top right

Second

[2022-08-04 15:00] bishalgoswami commented on #1384
Thanks for your comment, @rrhkpmg. This issue has been assigned to the doc author for review.

[2022-08-05 13:32] Dealgan12 commented on #1375
Now updated - https://docs.microsoft.com/nl-nl/power-platform/admin/wp-onpremises-gateway

[2022-08-05 14:53] craig-lund opened #1385 "Package command not listed and errors out"
Usage: pac package [init] [add-solution] [add-reference] [deploy] [show]

  init                        Initializes a directory with a new Dataverse package project
  add-solution                Adds a prebuilt Dataverse solution file to a PD Package project
  add-reference               Adds reference to Dataverse solution project
  deploy                      Deploys package to Dataverse environ

[2022-08-05 15:00] bishalgoswami commented on #1385
Thanks for your comment, @craig-lund. This issue has been assigned to the doc author for review.

[2022-08-05 16:08] JimDaly commented on #1385
@craig-lund

Thanks for reporting this. This is a known documentation issue. We are in the process of updating the PAC CLI reference documentation.  New content with the `add-solution` command is staged and we are waiting for final review before publishing.

FWIW: This is the content we have staged for this command, which is derived from the help content:

<hr />

## pac package add-solution

Adds

[2022-08-05 16:08] #1385 closed

[2022-08-05 17:46] DoorKnob4531 opened #1386 "NFC Example causes errors."
Copying and pasting this example into a Power Apps project setup they proper way causes an error: "The function Coalesce has some invalid arguments".

Thanks

Josh
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ae46e7b-18ee-f3a0-0dfd-209e0d093ea5
* Version Independent ID: 6ae46e7b-18ee-f3a0-0dfd-209e0d093ea5
* Content:

[2022-08-05 18:21] tapanm-MSFT commented on #1386
Thank you for reaching out. Please ensure the device is NFC capable. If issue persists, please reach out to support team through [support ticket](https://docs.microsoft.com/power-platform/admin/get-help-support) for help with the investigation.

[2022-08-05 18:21] #1386 closed

[2022-08-08 12:53] rrwolfe opened #1389 "Teams Governance - GCC moderate now supports post of adaptive cards by bots"
Please update the "Important" section of the article, by removing "GCC" from the list of where posting adaptive cards via bot is not supported. This is now fully supported and the solution has been validated in a GCC tenant.

![image](https://user-images.githubusercontent.com/74214126/183422332-f5fa389e-518c-49cf-9398-a6473c751997.png)

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-08-08 12:54] rrwolfe opened #1390 "Orphaned Resources - GCC moderate now supports posting of adaptive cards by bots"
Please update the "Note" section of the article, by removing "GCC" from the list of where posting adaptive cards via bot is not supported. This is now fully supported and the solution has been validated in a GCC tenant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b08b756-8274-5baa-21b0-301930f0aac6
* Version Indepe

[2022-08-08 12:55] manuelap-msft commented on #1390
Wonderful, thanks for letting us know! Our next docs update is planned for early September, I'll make the changes for then!

[2022-08-08 12:55] manuelap-msft commented on #1389
Wonderful, thanks for letting us know! Our next docs update is planned for early September, I'll make the changes for then!

[2022-08-08 12:58] rrwolfe opened #1391 "Governance Components - GCC moderate now supports posting of adaptive cards by bots"
Please update the "Note" sections of the article, by removing "GCC" from the list of where posting adaptive cards via bot is not supported. This is now fully supported and the solution has been validated in a GCC tenant.

https://docs.microsoft.com/en-us/power-platform/guidance/coe/governance-components#microsoft-teams-governance
https://docs.microsoft.com/en-us/power-platform/guidance/coe/governa

[2022-08-08 13:00] bishalgoswami commented on #1391
Thanks for your comment, @rrwolfe. This issue has been assigned to the doc author for review.

[2022-08-08 13:00] bishalgoswami commented on #1390
Thanks for your comment, @rrwolfe. This issue has been assigned to the doc author for review.

[2022-08-08 13:00] bishalgoswami commented on #1389
Thanks for your comment, @rrwolfe. This issue has been assigned to the doc author for review.

[2022-08-08 13:06] rrwolfe opened #1392 "Pulse Survey - GCC moderate now supports posting of adaptive cards by bots"
Please update the "Note" section of the article, by removing "GCC" from the list of where posting adaptive cards via bot is not supported. This is now fully supported and the solution has been validated in a GCC tenant.

https://docs.microsoft.com/en-us/power-platform/guidance/coe/nurture-components#pulse-survey-components

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-08-08 15:00] bishalgoswami commented on #1392
Thanks for your comment, @rrwolfe. This issue has been assigned to the doc author for review.

[2022-08-09 17:53] jimholtz commented on #1384
@rrhkpmg
Thanks for the feedback. We've revised the content to reflect the current UI. Attachments (item) appears further down in the list.

[2022-08-09 17:53] #1384 closed

[2022-08-09 18:19] jimholtz commented on #1382
@jthomps19
Thanks for the suggestion. We updated the article.

[2022-08-09 18:19] #1382 closed

[2022-08-09 18:25] phecke commented on #1380
@joshua-soto-kitcher  Yes, the documentation that specifies using VS 2015 is still applicable. However, I have added new information about using PAC CLI to creates packages.

See [Create packages for the Package Deployer tool](https://docs.microsoft.com/power-platform/alm/package-deployer-tool)

Also, I will look into using Power Platform Tools for creating packages. When I last looked at that too

[2022-08-09 18:25] #1380 closed

[2022-08-11 08:51] pavecer opened #1395 "New Languages supported"
It seems like we are not updating docs with new languages that are currently available in PVA

<img width="213" alt="image" src="https://user-images.githubusercontent.com/37548236/184097667-f2a92f63-6eb5-4539-804c-b96b9535bf9c.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72c0f147-9e5c-a437-0873-7be9ce4809b6
* V

[2022-08-11 08:59] pettersh opened #1396 "Pay-as-you-go is now available in Norway"
Pay-as-you-go is now available in Norway. Please update FAQ
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6030a2f5-a21a-dc04-577a-ac81009c9ac4
* Version Independent ID: 6030a2f5-a21a-dc04-577a-ac81009c9ac4
* Content: [Issues and FAQs about pay-as-you-go plans - Power Platform](https://docs.microsoft.com/en-us/power-pla

[2022-08-11 09:00] bishalgoswami commented on #1396
Thanks for your comment, @pettersh. This issue has been assigned to the doc author for review.

[2022-08-11 09:00] bishalgoswami commented on #1395
Thanks for your comment, @pavecer. This issue has been assigned to the doc author for review.

[2022-08-12 02:42] hpkeong opened #1397 "Print() Function for Microsoft PowerApps"
HI

It works PERFECTLY when opening Power Apps from browser.
But for Win 10/11 Power Apps apps, it worked ONCE and then never worked.
Can you pls re-activate for this brilliant function?

TQ

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b49abb88-5ea7-9ef4-9a21-c0185e7768ca
* Version Independent ID: b49abb88-5ea7-9ef4-

[2022-08-12 03:00] bishalgoswami commented on #1397
Thanks for your comment, @hpkeong. This issue has been assigned to the doc author for review.

[2022-08-12 03:18] hpkeong commented on #1397
Hi BG Appreciate prompt feedback. In fact, in the Win 10/11 Apps, FEEDBACK pop-up, I had written the comments several times but look like the function is NOT working. So, if feedback function is included within the APPS, please kindly to have SOMEONE assigned to reply (such as in this GitHub), otherwise it is useless.[easy to make function but not easy to convince users what the function for] Curr

[2022-08-12 03:43] tapanm-MSFT commented on #1397
Thank you for reaching out. Please create a [support service request](https://docs.microsoft.com/power-platform/admin/get-help-support) for further help and investigation of this problem.

[2022-08-12 03:43] #1397 closed

[2022-08-12 21:25] v-alarioza commented on #1395
@pavecer Thank you for your report, an update to this article has now been published.

[2022-08-12 21:25] #1395 closed

[2022-08-13 00:12] phecke commented on #269
@smgtreker  Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-08-13 00:12] #269 closed

[2022-08-13 00:14] phecke commented on #286
@aronmek  Thanks for your feedback. We are closing this issue because we are either unable to find relevant information or reproduce this. If you're still experiencing the issue described here, please reopen or create a new issue.

[2022-08-13 00:14] #286 closed

[2022-08-14 13:13] rrwolfe opened #1400 "Get M365 Service Messages flow missing details for Azure Gov regions"
The documentation for manual updates concerning the [Get M365 Service Messages flow for a GCC High or DoD tenant](https://docs.microsoft.com/en-us/power-platform/guidance/coe/setup-core-components#modify-the-command-center-app--get-m365-service-messages-flow-for-a-gcc-high-or-dod-tenant) doesn't include all the necessary updates needed to make this work in an Azure Gov tenant. See the highlighted

[2022-08-14 15:00] bishalgoswami commented on #1400
Thanks for your comment, @rrwolfe. This issue has been assigned to the doc author for review.

[2022-08-16 10:00] brazierp opened #1401 "Assigning AAD Group teams as owners in model apps"
[Enter feedback here]
When manually assigning AAD group teams as owners using the built in form, the default options list does not pick up AAD group teams. It is possible to edit filter on the 'Default lookup view' of the Teams table so that it includes AAD groups but this was not immediately obvious to me. Can we add a note on this page to help others with this?
Regards,
Paul

---
#### Document D

[2022-08-16 11:00] bishalgoswami commented on #1401
Thanks for your comment, @brazierp. This issue has been assigned to the doc author for review.

[2022-08-16 17:39] devman2k opened #1402 "Text describing how Search work is not Clear"
It is unclear in the description that Office 365 Documents are not able to be searched from within Dataverse or Model Driven apps. That the only Office documents are stored within the Attached notes section of Dataverse. this is an important distinction to make

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8f4b53c-09

[2022-08-16 19:00] bishalgoswami commented on #1402
Thanks for your comment, @devman2k. This issue has been assigned to the doc author for review.

[2022-08-17 23:09] jimholtz commented on #1396
@pettersh
Thanks for the feedback. We're researching this and will make updates upon completion.

[2022-08-17 23:09] #1396 closed

[2022-08-18 20:45] remyblok opened #1406 "https://aka.ms/creatorkitdownload points to older version"
Hello.

I was downloading the version linked of the creator toolkit from the page. The link is https://aka.ms/creatorkitdownload. The version/file downloaded is `CreatorKitCore_1.0.20220604.1_managed.zip` which is not the latest version of the toolkit on GitHub. The latest version is  [CreatorKitCore_1.0.20220729.1_managed.zip](https://github.com/microsoft/powercat-creator-kit/releases/)

The aka.

[2022-08-18 21:00] bishalgoswami commented on #1406
Thanks for your comment, @remyblok. This issue has been assigned to the doc author for review.

[2022-08-19 18:09] lucianomontenegro opened #1407 "Option convert change to Upgrade"
The "convert to production" option no longer exists in the interface, the procedure must be updated, I only find the "Upgrade" option.

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: e35d3f3b-0007-bbb7-fe0b-000e76932281
* Version Independent ID: d937d8d8-232d-ce0e-ae88-38d95e501793
* Content: [Alterar o ti

[2022-08-20 11:32] omhalck opened #1408 "Error in Sort and SortByColumns example"
In the table of examples, the second row from the bottom has an error. The Sort and SortByColumns expressions in this row are *not* equivalent; their sort column sequences are the opposites to each other. This presumably arises from the ambiguous description "sort first by X, then by Y": this can either mean either "first sort by X, then take the result of this and sort by Y" (the Sort(...) exampl

[2022-08-20 13:00] bishalgoswami commented on #1408
Thanks for your comment, @omhalck. This issue has been assigned to the doc author for review.

[2022-08-22 09:11] donsvensen opened #1409 "Links in article doesnt work"
The links in this paragraph doesn't work.

![image](https://user-images.githubusercontent.com/19202547/185884629-f9ce905f-bc04-4bc9-a51d-9e453cfa8958.png)

BR Erik

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b83b2196-8c32-86db-3c76-5464a62ae70f
* Version Independent ID: b83b2196-8c32-86db-3c76-5464a62ae70f
* Content

[2022-08-22 11:00] bishalgoswami commented on #1409
Thanks for your comment, @donsvensen. This issue has been assigned to the doc author for review.

[2022-08-22 21:37] tapanm-MSFT commented on #1409
Thank you for your feedback. Documentation has been fixed and will reflect the changes soon.

[2022-08-22 21:37] #1409 closed

[2022-08-23 08:59] WilliamDO89 commented on #825
@YTKme - Did you ever get to the bottom of this? The "Tutorial" is hopeless in terms of stating the required API permissions or Admin roles to run this.
I still get - Invoke-RestMethod : {"error":{"code":"Forbidden","message":"The service principal with id '#######-####-####-####-##########' for application #######-####-####-####-########## does not have permission to access the path
'https://10.0

[2022-08-23 13:09] biterbit opened #1411 "Error in Description section"
The Description section reads:

Description
The ForAll function evaluates a formula for all the records in a table. The formula can calculate a value and/or perform actions, such as modifying data or working with a connection. Use the [With function](https://docs.microsoft.com/en-us/power-platform/power-fx/reference/function-with) to evaluate the formula for a single record.

Use the [Sequence fun

[2022-08-23 15:00] bishalgoswami commented on #1411
Thanks for your comment, @biterbit. This issue has been assigned to the doc author for review.

[2022-08-23 16:02] laneswenka commented on #825
As mentioned above, please make sure that the service principal has been registered with Power Platform else it won't have any permissions to call these APIs.

To do this via REST, you will need a username/password credential that is Power Platform admin role or tenant admin role.  This will let you register an SPN as a Power Platform admin application.  It can then start to make calls to the APIs

[2022-08-23 16:02] #825 closed

[2022-08-23 17:10] tapanm-MSFT commented on #1411
Thank you for your feedback. Documentation has been fixed and will reflect the changes soon.

[2022-08-23 17:10] #1411 closed

[2022-08-23 17:25] coatsy opened #1412 "Error in sample for adding maker via coe CLI"
The `--aad` switch is not aliased to `-a`  in `coe alm maker add`, but the example in the doc uses `-a`, not `--aad`, resulting in an error

(PowerShell 7.2.6, coe version 0.0.1 pulled from github 2022-08-23)

See [cli setup instructions quick start](https://docs.microsoft.com/en-us/power-platform/guidance/coe/cli/alm/overview#quick-start) Point 7.

---
#### Document Details

⚠ *Do not edit this s

[2022-08-23 19:00] bishalgoswami commented on #1412
Thanks for your comment, @coatsy. This issue has been assigned to the doc author for review.

[2022-08-24 10:10] MarzelLaning42 opened #1414 "request timing when the new IP addresses were added and how we could have been notified"
Hi
We had an issue with connectivity between DES and an Azure resource caused by the fact that the static IP was changed from old to new as indicated in this document.

When was this changed and how would we have been notified of this pending change of IP?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d51ad6f-b7a7-7a

[2022-08-24 11:00] bishalgoswami commented on #1414
Thanks for your comment, @MarzelLaning42. This issue has been assigned to the doc author for review.

[2022-08-24 16:07] JasonHQX commented on #1414
Hello @MarzelLaning42 The communication message has been sent to all active DES customer under the specific region (US: 5/16/2022 - MC383476; EU: 7/21/2022 - MC403599) using Email and Message center channel

[2022-08-24 17:30] BernardoTobon opened #1415 "Hi... i have trouble with dropdown cause i need used it wiht more options than 255, have somebody any solution for this? cheers"
[Escriba sus comentarios aquí]

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: cc9345a5-e5f0-da01-be2c-5c187f9ca858
* Version Independent ID: cc9345a5-e5f0-da01-be2c-5c187f9ca858
* Content: [Función Choices en Power Apps - Power Platform](https://docs.microsoft.com/es-es/power-platform/power-fx/reference/f

[2022-08-24 19:00] bishalgoswami commented on #1415
Thanks for your comment, @BernardoTobon. This issue has been assigned to the doc author for review.

[2022-08-25 08:57] MarzelLaning42 commented on #1414
Hi @JasonHQX ,
Thank you for your comment. We cannot find the item in our EU message center. Please inform us which service it should mention and at which time it was sent. Searching the number you mention (403599) did not return anything.

[2022-08-25 09:03] WilliamDO89 commented on #825
The section where you state that it requires username and password goes completely against what is referenced in the tutorial [Authentication](https://docs.microsoft.com/en-us/power-platform/admin/programmability-tutorial-create-daily-capacity-report?tabs=Azure#connect-and-variable-setup)

[2022-08-25 16:21] drmanhatin commented on #1166
If you had simply copied the line StrikeZero sent (and which is in the docs) you would have noticed that the dot is in the wrong place.

Furthermore, the code uses an outdated version of Msal-Browser. And the code is just a huge mess in general to be honest... Is there anyone working on a newer version of this document?

[2022-08-25 17:37] petepuu opened #1417 "Update user permissions required to configure Office 365 Management API custom connector and connection"
The following statement should be changed or removed. User configuring Office 365 Management API connection and custom connector does not have to have direct access to audit log as AAD app with ActivityFeed.Read permission provides necessary access to be able to configure everything. Global Admin is required to be able to create AAD app but Power Platform or D365 admin role is enough to configure

[2022-08-25 18:03] JasonHQX commented on #1414
Can you share your orgID?

[2022-08-25 20:59] joem-msft commented on #1385
BTW, the reason for this error is that the command is not being called from a folder that contains a package project (*.csproj).

[2022-08-25 23:59] jimholtz commented on #1407
@lucianomontenegro
I reviewed the interface and confirmed "Convert to production" and "Convert to sandbox" are in there.

Please see if you can get your question answered here:
https://powerusers.microsoft.com/t5/Power-Apps-Community/ct-p/PowerApps1
Or create a support request:
https://powerapps.microsoft.com/support/

[2022-08-25 23:59] #1407 closed

[2022-08-26 00:06] jimholtz commented on #1383
@FAC-1312
We've recently updated this content. Please reopen this issue if your question wasn't resolved with the updates.

[2022-08-26 00:06] #1383 closed

[2022-08-26 03:57] ML1961 opened #1418 "Ambiguous content"
On this page you say

[code]
However, your example filters on the **First()** record.
So When I run my code, only the FIRST of multiple records is being updated.
And if I omit the 'First()' from the formula, then PowerApps complains that it is invalid code.

So how do I bulk update multiple records.
I would prefer to operate on the table directly, rather than creating a collection, patch the colle

[2022-08-26 05:00] bishalgoswami commented on #1418
Thanks for your comment, @ML1961. This issue has been assigned to the doc author for review.

[2022-08-26 06:04] patwardhanrohitr opened #1419 "user can edit Power Automate flow from a Managed Solution. 'Edit' button is disabled when in solutions, but if you open the automate"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aed97a28-1e40-eaca-1612-367a71f7d0d7
* Version Independent ID: a1201bae-0aa1-6350-63d5-f2aecdc4eacb
* Content: [Solution concepts - Power Platform](https://docs.microsoft.com/en-us/power-platform/alm/solution-concepts-alm)
* Content Source: [power-pla

[2022-08-26 06:09] patwardhanrohitr opened #1420 "User can edit Power Automate flow from a Managed Solution."
Hello,
The 'Edit' button is disabled when in solutions, but if you open the automate in another window, you can edit and save the flow. This is applicable for both Cloud and Desktop flows. Is this expected behavior ?
Image 1
![image](https://user-images.githubusercontent.com/20833130/186833202-bceeeb45-cc28-4b3f-af0b-e7f277ba27d6.png)

Image 2
![image](https://user-images.githubusercontent.com/208

[2022-08-26 07:00] bishalgoswami commented on #1420
Thanks for your comment, @patwardhanrohitr. This issue has been assigned to the doc author for review.

[2022-08-26 07:00] bishalgoswami commented on #1419
Thanks for your comment, @patwardhanrohitr. This issue has been assigned to the doc author for review.

[2022-08-26 22:22] iaanw commented on #1166
I'm closing this issue as the original question/error is being rolled into other fixes that we're currently testing.

@drmanhatin please feel free to submit any suggested changes in a new issue for this page. We'll take a look and check with our engineering team.

Thanks all!

[2022-08-26 22:22] #1166 closed

[2022-08-27 08:37] chumleesockson opened #1421 "Typo / spelling mistake in screenshot"
https://docs.microsoft.com/en-us/power-platform/admin/media/block-cookie-replay-user-message.png

The above referenced screenshot states "Contact your administrator for mode information." - I believe this should be "more information" and there should be a space between the initial C and the full stop preceding it.

I haven't tested the feature yet, so I'm not sure if it has been fixed at the code

[2022-08-27 09:00] bishalgoswami commented on #1421
Thanks for your comment, @chumleesockson. This issue has been assigned to the doc author for review.

[2022-08-29 07:44] MarzelLaning42 commented on #1414
84887cb0-1dc9-422b-86c1-93bd063a9e8c

[2022-08-29 16:48] OranguTech opened #1423 "Multiple documentation issues for Powershell modules: Difficulty even finding where to report issues."
https://docs.microsoft.com/en-us/powershell/powerapps/get-started-powerapps-admin
Click "Edit this document" (Pencil Icon)
It sends you to https://github.com/MicrosoftDocs/powerapps-docs-powershell-pr/blob/live/powerapps/docs-conceptual/get-started-powerapps-admin.md, which is a 404.

[2022-08-29 19:30] jimholtz commented on #1401
@brazierp
Thanks for the suggestion. We've added a section in the topic to cover this.

[2022-08-29 19:30] #1401 closed

[2022-08-29 19:44] jimholtz commented on #1421
@chumleesockson
Thanks for the feedback. This has been corrected.

[2022-08-29 19:44] #1421 closed

[2022-08-30 00:52] ML1961 opened #1424 "Format non-numeric text field"
How can I format a plain text field?
Examples
part numbers   abc123def to display as abc-123-def

To display a mobile number (stored as text), eg 0412345678 to show as 041 234 5678, the following has worked for me.
`Text(Value(Parent.Default, "0#### ### ####")`
NOTE : For some reason, I need to use 4 x # after the leading zero in order to display only 2 digits after the zero.

---
#### Document De

[2022-08-30 01:00] bishalgoswami commented on #1424
Thanks for your comment, @ML1961. This issue has been assigned to the doc author for review.

[2022-08-30 23:26] jimholtz commented on #1414
@MarzelLaning42
We believe the communication was sent. Please have the admin check the configuration of the message center to make sure such items are retained. If things check out at your end, please contact Support. https://powerapps.microsoft.com/support/

[2022-08-30 23:26] #1414 closed

[2022-08-31 13:18] paulbreuler opened #1426 "Issue with solution update documentation"
The section _Release an update for your managed solution_ seems to be implying that to create an update one must create a new managed solution with the same publisher as some original solution. While this would "update" the solution it is not truly an update. To update a solution, one simply needs to make changes to an existing solution, export as managed with a higher version than a target organi

[2022-08-31 13:35] paulbreuler commented on #1426
**Given the section just before has the correct update process but is entitled _Release a new version of your managed solution_ I assuming a title change for both sections would be sufficient with some tweaks.** Additional context is needed for the section currently titled _Release an update for your managed solution_, specifically noting that using this method a new solution layer would be introd

[2022-08-31 13:51] manuelap-msft commented on #1417
Fixed locally ready for the September update.

[2022-08-31 14:09] manuelap-msft commented on #1400
Fixed locally and will go live with the September update!

[2022-08-31 14:09] manuelap-msft commented on #1392
Fixed locally and will go live with the September update!

[2022-08-31 14:10] manuelap-msft commented on #1391
Fixed locally and will go live with the September update!

[2022-08-31 14:10] manuelap-msft commented on #1390
Fixed locally and will go live with the September update!

[2022-08-31 14:11] manuelap-msft commented on #1389
Fixed locally and will go live with the September update!

[2022-08-31 15:00] bishalgoswami commented on #1426
Thanks for your comment, @paulbreuler. This issue has been assigned to the doc author for review.

[2022-09-02 01:36] TakiyaNakano-MSFT opened #1428 "Is required https://api.powerplatform.com for Power Platform API?"
[Enter feedback here]
Only "https://*.api.powerplatform.com" is in URLs for Dynamics 365 services table.
But https://docs.microsoft.com/en-us/rest/api/power-platform/#call-a-rest-api-method article introduce  https://api.powerplatform.com as Rest API endpoint.

please update the table with https://api.powerplatform.com URL if it is required for Power Platform API.

---
#### Document Details

⚠ *Do

[2022-09-02 03:00] bishalgoswami commented on #1428
Thanks for your comment, @TakiyaNakano-MSFT. This issue has been assigned to the doc author for review.

[2022-09-02 06:31] kbilakanti opened #1429 "CreaterKitReferenceMDA hyperlink not working in Creater Kit Documentation"
Hi Team,

As part of Creater Kit documentation - I saw that hyperlink for Custom pages: "aka.ms/CreaterKitReferenceMDA" is not working. image below.
![image](https://user-images.githubusercontent.com/51436645/188072443-5293379a-e2a4-4c40-a99c-1fd692d0228e.png)

[2022-09-02 06:55] jeffangama opened #1430 "Please provide example on the DLP page"
For our understanding, it would be great to have example to understand business / non business behaviour
Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ea178b4-f20a-747b-9e84-8b09ab6218d4
* Version Independent ID: e97f75e7-469e-0dc1-319c-0fe0a84c4e2e
* Content: [Data loss prevention policies - Power Platform

[2022-09-02 07:00] bishalgoswami commented on #1430
Thanks for your comment, @jeffangama. This issue has been assigned to the doc author for review.

[2022-09-02 11:15] popujol opened #1431 "Pay as you go option missing in article"
Hello,
There is a new option to enable Azure Pay a you Go, the article is not yet updated and could you please explain why one would use this option.

![image](https://user-images.githubusercontent.com/40460576/188127902-09cf5271-83e1-4234-96bd-1a5424c2678f.png)

![image](https://user-images.githubusercontent.com/40460576/188127744-cafa4a2a-6fe9-4a66-bc2a-f86240eccae8.png)

Thank you

Pierre-Olivi

[2022-09-02 13:00] bishalgoswami commented on #1431
Thanks for your comment, @popujol. This issue has been assigned to the doc author for review.

[2022-09-02 14:52] PPMini opened #1432 "Flow details swapped"
Hi Team,

Observed the following swap of definitions on the flow descriptions:

![FlowsFeedback](https://user-images.githubusercontent.com/112712553/188175960-1fa5bb49-7ed1-4399-8723-ff1178942237.PNG)

---
The description of the flows Admin| Sync Template v3(PVA) and the  Admin | Sync Template v3 (Solutions) is swapped

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2022-09-02 15:00] manuelap-msft commented on #1432
Thanks for spotting that, updated locally and will go live with our next docs updated targeted for mid-next week!

[2022-09-02 17:53] sing-ideas opened #1433 "Does Org ID or Org Name acts as a container for multi-tenant deployment"
Does Org ID or Org Name acts as a global container for a multi-tenant implementation, like example, FordMotorsGlobal.com as an Org, has multi-tenant business in USA, Europe, Asia, etc.

It is clearly understood that 1 tenant can have many environments, does 1 org have many tenants.

1 Org > many tenants > many environments to each tenant. Is this correct?

I read that org and tenants are the same,

[2022-09-02 18:40] laorient opened #1434 "More method in freeing up storage for attachments"
For Freeing Attachment table (first section), a good method, if you have a lot of duplicate attachments, is the combine the duplicate entries into a single one. It is documented [here](https://docs.microsoft.com/en-us/dynamics365/customerengagement/on-premises/developer/email-activity-entities?view=op-9-1), in the Reusing Email Attachments section.

---
#### Document Details

⚠ *Do not edit this s

[2022-09-02 19:00] bishalgoswami commented on #1434
Thanks for your comment, @laorient. This issue has been assigned to the doc author for review.

[2022-09-02 19:00] bishalgoswami commented on #1433
Thanks for your comment, @sing-ideas. This issue has been assigned to the doc author for review.

[2022-09-03 00:48] girishuppal opened #1435 "Page Link not correct"
In the hyperlink - the letter c is missing. Hence the link is invalid.

Please correct

![image](https://user-images.githubusercontent.com/17232756/188249297-134fcb8a-2a31-443d-902c-a7e58bc4bdb9.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b74154c-ce00-1e30-0806-9d9a1d5923ea
* Version Independent ID: 6b74154c-c

[2022-09-03 00:58] girishuppal opened #1436 "Copy Paste Error from Microsoft team"
In this page, there is a link to "Power Platform Adoption document"

![image](https://user-images.githubusercontent.com/17232756/188249569-9c22c100-ccbf-400b-b11d-25ad642515aa.png)

In one of the case study, the document talks about a customer named as "ARM"
However, the content if you see carefully talks about "H&M" company.
"H&M" company case study is part of previous slide. Hence the author mig

[2022-09-03 01:00] bishalgoswami commented on #1436
Thanks for your comment, @girishuppal. This issue has been assigned to the doc author for review.

[2022-09-03 01:00] bishalgoswami commented on #1435
Thanks for your comment, @girishuppal. This issue has been assigned to the doc author for review.

[2022-09-03 01:33] tapanm-MSFT commented on #1435
Thank you for your feedback. Link has been fixed, and the changes will be reflected soon.

[2022-09-03 01:33] #1435 closed

[2022-09-03 06:40] standswell opened #1437 "typo in 'Message center' paragraph?"
[Enter feedback here]

Under Message center, text says 'changes to hour Microsoft services'.

Should that be 'our' ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eadb9e2-bc3a-25e6-ec3d-e85e1f404405
* Version Independent ID: 5b70c7ac-bce9-36ec-09ce-c9291c1744e0
* Content: [Administer Power Platform - Power Platform](

[2022-09-03 06:40] #1437 closed

[2022-09-03 06:41] standswell opened #1438 "Typo in 'Message center' para?"
Under Message center, text says 'changes to hour Microsoft services'.

Should that be 'our' ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eadb9e2-bc3a-25e6-ec3d-e85e1f404405
* Version Independent ID: 5b70c7ac-bce9-36ec-09ce-c9291c1744e0
* Content: [Administer Power Platform - Power Platform](https://docs.microsoft.

[2022-09-03 06:43] standswell opened #1439 "1st para includes 'Project Service Automation' but should be 'Project Operations'"
1st para includes 'Project Service Automation' but should be 'Project Operations'

PSA going away?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eadb9e2-bc3a-25e6-ec3d-e85e1f404405
* Version Independent ID: 5b70c7ac-bce9-36ec-09ce-c9291c1744e0
* Content: [Administer Power Platform - Power Platform](https://docs.micro

[2022-09-03 07:00] bishalgoswami commented on #1439
Thanks for your comment, @standswell. This issue has been assigned to the doc author for review.

[2022-09-03 07:00] bishalgoswami commented on #1438
Thanks for your comment, @standswell. This issue has been assigned to the doc author for review.

[2022-09-03 08:59] PrimeDime1 opened #1440 "Extra step required for "Install the creator kit solution" Step 1"
[Enter feedback here]
When downloading the CreatorKitCore from https://aka.ms/creatorkitdownload, the download happens as a folder with contents and not a zip or compressed file.

New users will need to know that the contents of the folder need to be compressed into a zip file so that step for on page https://docs.microsoft.com/en-us/power-platform/guidance/creator-kit/setup under ["Step 1](https:

[2022-09-03 09:00] bishalgoswami commented on #1440
Thanks for your comment, @PrimeDime1. This issue has been assigned to the doc author for review.

[2022-09-04 06:40] standswell opened #1441 "references to PSA obsolete"
[Enter feedback here]
another reference to PSA, rather than PO

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 998c5ac7-53b7-548a-4f73-7f8d586abffb
* Version Independent ID: 6ea1d35d-3459-34f9-aa01-e113dc7cb0c6
* Content: [Use the Microsoft 365 admin center to manage your subscription - Power Platform](https://docs.micr

[2022-09-04 07:00] bishalgoswami commented on #1441
Thanks for your comment, @standswell. This issue has been assigned to the doc author for review.

[2022-09-05 00:28] fumi11 opened #1442 "The prerequisites are not precise"
The pages describe the prerequisites. But it is not precise.

![image](https://user-images.githubusercontent.com/102130723/188339569-224778da-9b3a-4350-82ee-3c2f438b8ccd.png)

You do not need Power Platform Service admin, Dynamics 365 admin, or Microsoft 365 Global admin but system administrator.
Could you kindly update the descriptions of the prerequisites?

---
#### Document Details

⚠ *Do not e

[2022-09-05 01:00] bishalgoswami commented on #1442
Thanks for your comment, @fumi11. This issue has been assigned to the doc author for review.

[2022-09-05 10:57] manuelap-msft commented on #1436
Hello,

can you help me understand where the incorrect screenshot is coming from? Is it from the Adoption workbook?

[2022-09-05 14:13] drmanhatin opened #1443 "Following this tutorial does not produce a working result"
Following this tutorial does not produce a working result, and debugging is close to impossible because of the error message:

![image](https://user-images.githubusercontent.com/25794862/188468927-b227d242-8434-401b-840d-61ac7601ce14.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68d60dd9-05e9-9c78-7d7b-53b26a92af

[2022-09-05 15:00] bishalgoswami commented on #1443
Thanks for your comment, @drmanhatin. This issue has been assigned to the doc author for review.

[2022-09-05 21:17] mjannapureddy07 opened #1444 "Automate Deploying the Power Apps Environment Using Azure DevOps"
Hello,
I have an Azure subscription associated with my Azure DevOps account. I am trying to write a pipeline to basically create an environment (If one does not exist) and import my packed Solution(from Source Code) into that newly created environment.  I am using the "Power Platform Create Environment" task in the steps and was using my Service Principal. This Service Principal is associated with

[2022-09-05 23:00] bishalgoswami commented on #1444
Thanks for your comment, @mjannapureddy07. This issue has been assigned to the doc author for review.

[2022-09-06 11:36] ibruynin opened #1445 "solution clone support?"
Hi

any chance that the Power Platform tools will support
```pac solution clone``` in the near future?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2d7f63d-dcde-f057-555a-3fffce0f229c
* Version Independent ID: e4bba5f7-ae53-260f-269b-c8ad002ef696
* Content: [Build tool tasks - Power Platform](https://docs.m

[2022-09-06 13:00] bishalgoswami commented on #1445
Thanks for your comment, @ibruynin. This issue has been assigned to the doc author for review.

[2022-09-06 18:34] jimholtz commented on #1439
@standswell
Thanks for the update. This affects many topics and we'll make this terminology change at a later time.

[2022-09-06 18:34] #1439 closed

[2022-09-06 18:34] jimholtz commented on #1441
@standswell
Thanks for the update. This affects many topics and we'll make this terminology change at a later time.

[2022-09-06 18:34] #1441 closed

[2022-09-06 18:38] jimholtz commented on #1438
@standswell
Thanks for notice. We'll get this corrected.

[2022-09-06 18:38] #1438 closed

[2022-09-06 22:04] jimholtz commented on #1428
Taking to internal thread.

[2022-09-06 22:04] #1428 closed

[2022-09-07 00:00] jimholtz commented on #1433
@sing-ideas
Organization is a term for tenant that Office 365 uses. We've been changing our documentation and UI to use tenant. Some legacy use of organization still exists in UI and documentation.  Organization in our documentation should refer to a company or business. A company can have multiple tenants. A tenant can have multiple environments. Org ID, in the context of a Power Platform environ

[2022-09-07 00:00] #1433 closed

[2022-09-07 01:06] girishuppal commented on #1436
Hello,

Navigate to this link below

https://adoption.microsoft.com/en-us/powerplatform/

 and then click on "Centre of Excellence Planner"

![image](https://user-images.githubusercontent.com/17232756/188766301-4515a963-495e-42f9-8d8a-f2a7424626ac.png)

This is the direct link to view the document:

https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fdownload.microsoft.com%2Fdownload%2

[2022-09-07 04:40] sing-ideas commented on #1433
Hi,
Thanks, for the roadmap on how you are planning to use the terminologies going forward.

Org > Tenant > Environment > Solutions > Apps.

Similar to Common Data Model, you guys need to build Common Document Terminology Model or Common Taxonomy.

All the best!

.
Singaravelu S,
Founder, Stack Radius

________________________________
From: Jim Holtzman ***@***.***>
Sent: 07 September 2022 05:30
T

[2022-09-07 07:21] manuelap-msft commented on #1436
Thank you, I've let the owner of this doc know so they can get that fixed!

[2022-09-07 12:13] cT-m00cat opened #1447 "Using deployment settings file for connection references"
Reading  the official documentation at https://docs.microsoft.com/en-us/power-platform/alm/conn-ref-env-variables-build-tools#get-the-connection-reference-information it says one needs to obtain the connection reference information.. this defeats the entire purpose of automating the deployment. The connection references are part of the solution and don't exist until that first deployment. The docu

[2022-09-07 13:56] Sirgoodman1234 opened #1448 "Note about sharing to users is wrong"
In the article the Note states you cannot share Bots with users, only security groups. Just tested it, I can share to users and users will get the email.

This is a test question on PL-200 EXAM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 459a93d6-f7cd-affc-078e-57d5bf504c6b
* Version Independent ID: 50c66cdc-41df-f9

[2022-09-07 15:00] bishalgoswami commented on #1448
Thanks for your comment, @Sirgoodman1234. This issue has been assigned to the doc author for review.

[2022-09-09 17:47] ginibrandonnpx opened #1452 "Either function has a bug or documentation is missing information on the use of this function with/without forms"
Datasourceinfo will show a field as required, forms will trigger an error on submit,  but Validate on the same record with an empty field or using Form.Updates will return blank.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83a26be3-7363-1b3e-033e-ecfbf40f1f36
* Version Independent ID: 83a26be3-7363-1b3e-033e-ecfbf40

[2022-09-09 19:00] bishalgoswami commented on #1452
Thanks for your comment, @ginibrandonnpx. This issue has been assigned to the doc author for review.

[2022-09-10 22:30] VitalyMCT opened #1453 "Environments without DB still require 1GB DB capacity?"
This may be a duplicate of https://github.com/MicrosoftDocs/power-platform/issues/413.

In the "Create an environment without a database" section, it states:

Is this correct? If so, where does the need for available database capacity come from if there is no new DB created?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2022-09-10 23:00] bishalgoswami commented on #1453
Thanks for your comment, @VitalyMCT. This issue has been assigned to the doc author for review.

[2022-09-12 14:18] mscloud-pro opened #1454 "Update Power Automate URL"
Should the environment variable for Power Automate be updated to https://make.powerautomate.com/environments/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fe69498-a485-5379-97ff-53fbe029f11a
* Version Independent ID: 5b3f9705-9e49-1575-4ae7-0293d12b739c
* Content: [Set up inventory components - Power Platform](https

[2022-09-12 15:00] bishalgoswami commented on #1454
Thanks for your comment, @mscloud-pro. This issue has been assigned to the doc author for review.

[2022-09-12 19:29] CGrevlos opened #1455 "Mail merge template option is not available in Power Platform"
Going to Power Platform admin center, Settings > Templates does not provide an option for mail merge templates. No such item exists.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f0a4189-13aa-26fb-e2d9-76fa745da9c1
* Version Independent ID: 0a658845-bbed-539f-23c1-dae24def7f84
* Content: [Work with mail merge templat

[2022-09-12 21:00] bishalgoswami commented on #1455
Thanks for your comment, @CGrevlos. This issue has been assigned to the doc author for review.

[2022-09-13 00:51] minalove opened #1456 "Download or export session transcript information by date"
Good morning!

Is there any way to download or export session transcript information by date?
Every morning, I download it from the PVA portal, and I need to download it by clicking many lists, and if we have a lot of sessions, it would be excruciating.
It would be good if I could download it by date, but I can't find a way in your document.

Kind regards,
Mina

---
#### Document Details

⚠ *Do no

[2022-09-13 01:00] bishalgoswami commented on #1456
Thanks for your comment, @minalove. This issue has been assigned to the doc author for review.

[2022-09-13 04:18] coatsy commented on #1412
The docs have been updated, but now they show `-aad`, instead of `--aad`

[2022-09-13 07:49] fumi11 opened #1457 "What happens after the March 2023 for Power Automate Dataverse legacy connector?"
Hi Team,

It would be great if you provide the date of the support end for Power Automate Dataverse legacy connector.
The current description does not give me a clear idea about what happens after the March 2023 for Power Automate Dataverse legacy connector.

![image](https://user-images.githubusercontent.com/102130723/189840461-003e718c-7d76-40b0-9a53-f03fbe623cb1.png)

Please kindly update if yo

[2022-09-13 09:00] bishalgoswami commented on #1457
Thanks for your comment, @fumi11. This issue has been assigned to the doc author for review.

[2022-09-13 19:09] lukas-nC opened #1458 "Requirements CoE Starter Kit"
Hi,

in the requirements, there is listed with licences are needed to install the Starter Kit.
Because of a current case, I would like to know which specific apps have to be enabled to install and use the starter kit, because some companies only activate certain apps.

Best redards
Lukas
[Hier Feedback eingeben]

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Ve

[2022-09-13 21:00] bishalgoswami commented on #1458
Thanks for your comment, @lukas-nC. This issue has been assigned to the doc author for review.

[2022-09-13 23:00] jimholtz commented on #1455
@CGrevlos
Please see the note at the top of the topic:
The mail merge template feature has been deprecated and is not supported. In Dynamics CRM 2016 (version 8.0), we introduced server-side document generation using Word and Excel templates. You can use these templates to provide standardized documents or customized data analysis for your organization.

[2022-09-13 23:00] #1455 closed

[2022-09-13 23:05] CGrevlos commented on #1455
I did see that note, I guess I was hoping there'd be a link somewhere in that note indicating the steps to take to use the server side document generation. As of right now, reading that leads me to a dead end as I don't understand how to proceed with mail merge.

Sent from my Verizon, Samsung Galaxy smartphone
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: J

[2022-09-13 23:40] jimholtz commented on #1431
@popujol
1GB is required even for environments created without a database. We don’t want to prevent customers from creating a database after they have created an environment (due to lack of capacity at a later time).

[2022-09-14 03:39] RedsGT commented on #1457
@NHelgren

[2022-09-14 07:03] Laurent-riet opened #1460 "No mention to the "FeatureMask" field in the Subject description"
When adding a subject, the user can define if the value is hidden with Feature Mask, it is not mentioned in the document

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b10ea23f-970e-6831-b18f-4af29e17de25
* Version Independent ID: 890c06d6-7b65-455f-95df-e71eba36494e
* Content: [Define subjects to categorize cases, pro

[2022-09-14 11:38] popujol commented on #1431
This doesn't seem related to my question 🤔

[2022-09-14 13:00] bishalgoswami commented on #1460
Thanks for your comment, @Laurent-riet. This issue has been assigned to the doc author for review.

[2022-09-14 17:32] jimholtz commented on #1047
@maskati
Sorry for the delayed response. This content has been updated with revised license information.

[2022-09-14 17:32] #1047 closed

[2022-09-14 17:48] #1442 closed

[2022-09-14 17:51] jimholtz commented on #1431
@popujol
Sorry, response was for another issue. We're working on updating the documentation for your suggestion.

[2022-09-14 17:51] jimholtz commented on #1453
@VitalyMCT
1GB is required even for environments created without a database. We don’t want to prevent customers from creating a database after they have created an environment (due to lack of capacity at a later time).

[2022-09-14 17:51] #1453 closed

[2022-09-14 22:23] NHelgren commented on #1457
An update is pending. The planned date is the same as for logic apps Oct 31 2023.

March 2023 you will not be able to create new Logic Apps or flows using the Dataverse Legacy connector, it will no longer be listed. Also, you will not see the legacy actions and triggers.

[2022-09-14 22:32] jimholtz commented on #1431
@popujol
We've added text and updated the screenshots. Thanks again for the heads up.

[2022-09-14 22:32] #1431 closed

[2022-09-15 03:30] popujol commented on #1431
Glad it was heard, thank you for the good work on the doc!

[2022-09-15 07:59] dipteshbose opened #1461 "properties mentioned for the Container to be used in the panel needs configuration updates."
Seems like the X, Y, Width and Height settings of the container to use as an overlay to the panel is incorrect. Its not snapping right over the panel based on the configurations recommended.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1346323-c9a3-5c4e-d4d2-32080de5b27f
* Version Independent I

[2022-09-15 09:00] bishalgoswami commented on #1461
Thanks for your comment, @dipteshbose. This issue has been assigned to the doc author for review.

[2022-09-15 10:05] dipteshbose commented on #1461
Bookmark to the section I am referring to:
https://docs.microsoft.com/en-us/power-platform/guidance/creator-kit/panel#format-panel-content

[2022-09-15 16:31] chaitali10 commented on #1364
Tenant to Tenant migration is only performed within a Geo. For example, if you have Env A in US, you could move Env A from Tenant A -> Tenant B within US only.

It seems like you want a combination of Geo to Geo operation and Tenant to Tenant operation. In this case, we recommend that the customer performs a Geo to Geo move first followed by a Tenant to Tenant. Here's the documentation for Geo to

[2022-09-15 18:56] #1402 closed

[2022-09-16 06:25] SkippingAdi opened #1462 "Clarify how the behavior is when importing a managed solution if an unmanaged layer is present"
It should be described how the behavior is when an unmanage layer is present when a managed solution is imported. Is this possible at all? If yes, what is the behavior of the app after importing the managed solution?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22df4a82-a072-f324-8500-2e62fe120d3a
* Version Independe

[2022-09-16 07:00] bishalgoswami commented on #1462
Thanks for your comment, @SkippingAdi. This issue has been assigned to the doc author for review.

[2022-09-16 08:13] power-platform-phillips opened #1463 "Invalid URL specified"
The link: https://docs.microsoft.com/en-us/power-platform/power-automate/conditional-access-and-multi-factor-authentication-in-flow returns a 404.

Think it needs to be: https://docs.microsoft.com/en-us/troubleshoot/power-platform/power-automate/conditional-access-and-multi-factor-authentication-in-flow

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-09-16 09:00] bishalgoswami commented on #1463
Thanks for your comment, @power-platform-phillips. This issue has been assigned to the doc author for review.

[2022-09-16 09:04] devkeydet opened #1464 "Provide instructions to install pac using winget"
Many folks who use CLIs use winget.  Consider providing instructions on how to install using winget.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5446bda4-9257-9a56-ff6b-b62a82b79132
* Version Independent ID: 5446bda4-9257-9a56-ff6b-b62a82b79132
* Content: [Microsoft Power Platform CLI - Power Platform](https

[2022-09-16 10:06] smadep commented on #1211
it would be really great to have all icons (like for Azure) to document our Power Platform architecture with plantuml.
icons like:

- custom connector
- portal
- environment
- environment variable
- connection
- connection reference

[2022-09-16 11:00] bishalgoswami commented on #1464
Thanks for your comment, @devkeydet. This issue has been assigned to the doc author for review.

[2022-09-16 16:59] JimDaly commented on #1464
Sent email to @kkanakas to make sure he sees this.

[2022-09-20 07:25] jiaqi3 opened #1469 "[PVA] Can not find bot item when build proactive flow in power automation"
I have published my bot, but there is no item in this flow
![image](https://user-images.githubusercontent.com/70375028/191193433-d377aea6-e66f-4665-9e32-2eab89c1f50d.png)
I don't kown why, could you please give me some advice?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c64db467-2159-e6ab-a4c9-15544eb78660
* Versio

[2022-09-20 09:00] bishalgoswami commented on #1469
Thanks for your comment, @jiaqi3. This issue has been assigned to the doc author for review.

[2022-09-20 13:10] JhinalRajput opened #1470 "Adaptive Cards in MS Teams | The request failed. Error code: '400'. Error Message: 'Post as PVA is missing request recipient'."
Hello All,

We have been working on PVA and Deployed it in MS Teams. The "Post Adaptive card and wait for response" was working fine earlier.
Recently, we experienced some abnormality in getting Adaptive Card in Teams Chat.

In the backend Power Automate Flow, It showed  **The request failed. Error code: '400'. Error Message: 'Post as PVA is missing request recipient'.**

![image](https://user-ima

[2022-09-20 22:09] russgove opened #1471 "Reuse Audit Log app registration when installing a new version of the COE"
Hi,
I am trying to install the latest version of the COE in a separate , newly created , environment.
I have it running in an old environment with the Audit logs feature enabled. I created an app registration for thies way back when and it working

I am trying to reuse the App registration that I used with the old environment in my new environment. When I get to the step in the docs where it says

[2022-09-20 23:00] bishalgoswami commented on #1471
Thanks for your comment, @russgove. This issue has been assigned to the doc author for review.

[2022-09-21 07:10] khoanguyen-ms opened #1472 "Postal code is synced between Dataverse and Azure AD, Fax is not"
[Enter feedback here]
In "User profile information" section, Fax number is included in the list of Azure AD sync targets, and postal code is not.
However, as of Sep 2022, postal code is synced between Dataverse and Azure AD, and Fax is not.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0e1b508b-e71a-b577-51cf-f21c76c5

[2022-09-21 07:11] khoanguyen-ms opened #1473 "翻訳による表示項目名の違い"
[フィードバックをこちらに入力してください]
「ユーザー プロファイル情報」項目の内容がAzureADやDataverseで表示されている内容とずれています。（翻訳の問題だと思われます）。読み手に混乱を起こさないよう、下記の通りに修正すべきと思われます。
<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:dt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta

[2022-09-21 09:00] bishalgoswami commented on #1473
Thanks for your comment, @khoanguyen-ms. This issue has been assigned to the doc author for review.

[2022-09-21 10:55] robertobudelo-armacell opened #1474 "SharePoint custom form Makers Security Group not working"
This is related to https://learn.microsoft.com/en-us/power-platform/admin/admin-manage-apps#distinguish-microsoft-sharepoint-custom-form-makers-from-general-environment-makers

The second step asks to install the following App Source Solution:
https://appsource.microsoft.com/en-GB/product/dynamics-365/mscrm.sharepointcustomformmaker

Unfortunately, this solution is incomplete as it only contains t

[2022-09-21 13:46] jthomps19 opened #1475 "Add documentation for the 2 new tabs for tenant level analytics"
Hello - there are 2 new tabs (Environments and License Utilization) that are not documented in this article.  Would be great to have documentation on what data these two tabs show.

![image](https://user-images.githubusercontent.com/31544538/191520660-f787402d-c625-40a2-ae62-f206c1f15e6c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub i

[2022-09-21 15:00] bishalgoswami commented on #1475
Thanks for your comment, @jthomps19. This issue has been assigned to the doc author for review.

[2022-09-22 15:35] manuelap-msft commented on #1471
Hello this is an expected and documented error when you already have the subscription enabled, see
![image](https://user-images.githubusercontent.com/55705669/191790311-d6f1f43a-caf4-46cb-a60e-d3c6211e1dbe.png)

You can use the same app registration in multiple environments, yes.

[2022-09-22 15:35] #1471 closed

[2022-09-22 21:36] jimholtz commented on #1473
@khoanguyen-ms
Taking to internal thread.

[2022-09-22 21:36] #1473 closed

[2022-09-22 21:43] jimholtz commented on #1472
@khoanguyen-ms
Taking to internal thread.

[2022-09-22 21:43] #1472 closed

[2022-09-23 16:27] jimholtz commented on #1475
@jthomps19
Documentation will be added when these tabs become generally available.

[2022-09-23 16:27] #1475 closed

[2022-09-23 17:20] v-alarioza commented on #1469
@jiaqi3 Have you also [added your bot to Teams](https://learn.microsoft.com/power-virtual-agents/publication-add-bot-to-microsoft-teams)?

If that doesn't help, the best place for product requests or troubleshooting is [the Power Virtual Agents forum](https://powerusers.microsoft.com/t5/Forums/ct-p/pva_forums). If you repost your questions there an engineer, project manager, or someone with a simi

[2022-09-23 17:20] #1469 closed

[2022-09-23 17:27] v-alarioza commented on #1456
@minalove Thanks for your message! The best place for product requests is [the Power Virtual Agents forum](https://powerusers.microsoft.com/t5/Forums/ct-p/pva_forums).

[2022-09-23 17:42] v-alarioza commented on #1080
Closing due to inactivity.

[2022-09-23 17:42] #1080 closed

[2022-09-26 10:54] richatcosta opened #1477 ""Minimum privileges to run an app" doesn't tell you what they are"
The section "Minimum privileges to run an app" has a helpful link to a pre-built solution with a role inside. However it would be useful if those role permissions details were also included on this page directly as eg bullet points / similar, so that it is easier to quickly apply to an existing setup.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟

[2022-09-26 11:00] bishalgoswami commented on #1477
Thanks for your comment, @richatcosta. This issue has been assigned to the doc author for review.

[2022-09-26 14:14] bennyboy23 opened #1478 "outdated"
This page is outdated and missing v2 actions such as download PAPortal

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e2d7f63d-dcde-f057-555a-3fffce0f229c
* Version Independent ID: e4bba5f7-ae53-260f-269b-c8ad002ef696
* Content: [Build tool tasks - Power Platform](https://learn.microsoft.com/en-us/power-platform/alm/d

[2022-09-26 14:29] johannes-svanborg-T opened #1479 "Get-Adminflow doesen't return disabled Flows from solutions"
If i am running Get-Adminflow i don't get flows that are imported through a solution as inactive. I need to turn on flow and then turn off flow for it to be visible.

[2022-09-26 15:00] achaganti opened #1480 "Capacity Report not working."
[Enter feedback here]

I get the below error while attempting to try this. I am using service principal and secret.

{"error":"unsupported_grant_type","error_description":"AADSTS70003: The app requested an unsupported grant type 'client_credential'.\r\nTrace ID:

![image](https://user-images.githubusercontent.com/34516164/192311092-7e65c922-1d5a-47e4-955e-c82f8ad94404.png)

---
#### Document Detai

[2022-09-26 15:00] bishalgoswami commented on #1480
Thanks for your comment, @achaganti. This issue has been assigned to the doc author for review.

[2022-09-26 15:00] bishalgoswami commented on #1478
Thanks for your comment, @bennyboy23. This issue has been assigned to the doc author for review.

[2022-09-27 15:25] partridgetim opened #1481 "Conditions to initiate the user mapping file dialog are unclear"
Step 6 that reads "This step is applicable only if the data that you are importing contains the user information of the source system" does not fully specify the conditions required to initate the user mapping file dialog.

My import schema includes systemusers and teammembers, however whenever I import the data to the target the tool complains that a user mapping file is required. I am unable to

[2022-09-27 15:32] russgove opened #1482 "Admin | Inactivity notifications v2 (Check Approval) If approved in the past, but before deletion, it sends a reminder to archive the app or flow before deletion"
Hi, The docs for Admin | Inactivity notifications v2 (Check Approval) says 'If approved in the past, but before deletion, it sends a reminder to archive the app or flow before deletion'.

I don't see anywhere in the flow where it does that. Can someone confirm that this flow does not send emails to anyone other than the admin?

Also , docs should be updated accordingly.

[2022-09-27 17:00] bishalgoswami commented on #1481
Thanks for your comment, @partridgetim. This issue has been assigned to the doc author for review.

[2022-09-27 20:05] partridgetim commented on #1481
If you care to read a fulsome description of the issue I'm having see [Unable to migrate users when transfering data using the Configuration Migration Tool (A user map is required to proceed)](https://community.dynamics.com/crm/f/microsoft-dynamics-crm-forum/467159/unable-to-migrate-users-when-transfering-data-using-the-configuration-migration-tool-a-user-map-is-required-to-proceed)

[2022-09-27 20:05] jimholtz commented on #1480
@achaganti
Sorry you're experiencing this issue. Please contact support: https://powerapps.microsoft.com/support/

[2022-09-27 20:05] #1480 closed

[2022-09-27 20:08] jimholtz commented on #1482
@russgove
Thanks for the feedback. Please let us know which topic applies to the above.

[2022-09-27 23:19] russgove commented on #1482
This is related to the COE Starter Toolkit

Sent from my iPad

[2022-09-28 13:42] nkatz01 opened #1486 "Paragraph lacks quality"
![image](https://user-images.githubusercontent.com/55924227/192793764-6b3bcaaa-69c4-4d15-8e1d-0e99de883ffc.png)
 Is referring to something that is **only later** explained and deonstrated by example. Point being, this is understabdable only after the fact.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

[2022-09-28 15:00] bishalgoswami commented on #1486
Thanks for your comment, @nkatz01. This issue has been assigned to the doc author for review.

[2022-09-28 16:34] nkatz01 opened #1487 "Mistake in example of datatype?"
![image](https://user-images.githubusercontent.com/55924227/192836976-533369d9-9d57-4158-a714-4e1fc771dcc7.png)
Is this not a field reference?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 40a6dffa-6992-2346-10f3-3f04e1e64722
* Version Independent ID: eec5afa1-3422-417e-169d-b5d72ca69f49
* Conte

[2022-09-28 17:00] bishalgoswami commented on #1487
Thanks for your comment, @nkatz01. This issue has been assigned to the doc author for review.

[2022-09-29 06:15] m3ngi3 opened #1488 "Power Platform Build Tools V2 exporting as managed has default postfix of _managed"
Using the new @2 version (https://powerapps.microsoft.com/en-us/blog/new-version-of-power-platform-build-tools-and-a-feature-packed-update-of-power-platform-cli/) it seems the export command postfixes _managed behind the .zip file...

`
      - task: PowerPlatformExportSolution@2  #Export Managed Solution to machine as .zip file locally
        displayName: 'Solutions - ManSol export zip locally'

[2022-09-29 07:00] bishalgoswami commented on #1488
Thanks for your comment, @m3ngi3. This issue has been assigned to the doc author for review.

[2022-09-30 07:39] BastienMazzolini opened #1489 "The Hour(Now()) function doesn't work"
Hello,
Last week I used the function Hour(now()) and it worked, but today it doesn't work anymore, is this normal ?
Waiting for an answer,
Have a good day,
Bastien Mazzolini

[2022-09-30 21:58] phecke commented on #1489
@BastienMazzolini Please provide a URL to the documentation that you are asking about so that we can assigned the correct writer to followup.

[2022-10-01 19:32] dbaars opened #1490 "Link broken"
Hi, the link in the section "What identity should I install the CoE Starter Kit with?" that has link text "Conditional access and multi-factor authentication in Power Automate" and goes to https://learn.microsoft.com/en-us/power-platform/power-automate/conditional-access-and-multi-factor-authentication-in-flow is broken - it takes you to a 404 page.

I believe the correct link is https://learn.mic

[2022-10-01 21:00] bishalgoswami commented on #1490
Thanks for your comment, @dbaars. This issue has been assigned to the doc author for review.

[2022-10-03 13:31] manuelap-msft commented on #1490
Thank you, looks like the link on the Power Automate site has changed since we authored this page! Made the change locally for our next release targeted for this week.

[2022-10-03 13:32] manuelap-msft commented on #1482
Hello,

this repo is only used for documentation feedback, for issues with the features of the CoE Starter Kit itself, please raise an issue here https://aka.ms/coe-starter-kit-issues so the development team of the CoE kit can take a look.

[2022-10-03 13:32] #1482 closed

[2022-10-03 13:32] manuelap-msft commented on #1463
Fixed locally, will be updated this week with our next docs update!

[2022-10-03 13:34] manuelap-msft commented on #1458
Hello,

as your question is about the functionality of the CoE starter kit, and not the documentation, can you please raise a question here https://github.com/microsoft/coe-starter-kit/issues/new/choose for the development team of the CoE kit to take a look at. This repo is only used for documentation issues.

Thank you
Manuela

[2022-10-03 13:34] #1458 closed

[2022-10-03 13:36] manuelap-msft commented on #1454
Thank you! Made the change locally, ready for our next docs update later this week.

[2022-10-03 13:37] manuelap-msft commented on #1436
Closing out as this is not hosted on docs.

[2022-10-03 13:37] #1436 closed

[2022-10-03 13:37] #1432 closed

[2022-10-03 13:38] #1417 closed

[2022-10-03 13:38] #1400 closed

[2022-10-03 13:38] #1392 closed

[2022-10-03 13:38] #1391 closed

[2022-10-03 13:41] #1390 closed

[2022-10-03 13:42] #1389 closed

[2022-10-03 17:08] eduardorivas9 opened #1491 "pac solution init does not allow underscore in publisher prefix"
This command doest not allow the underscore character "_" in the publisher-prefix argument instead directly in the make.powerapps.com does allow it. Example:

`pac solution init --publisher-name developer --publisher-prefix dev_mod

[2022-10-03 17:54] JimDaly commented on #1491
@eduardorivas9
Thanks for your feedback.

Does your documentation feedback apply to a particular page?
Can you include a link to the documentation that is incorrect?

We have this reference topic:
[pac solution init](https://learn.microsoft.com/en-us/power-platform/developer/cli/reference/solution#pac-solution-init)

The note for the [--publisher-prefix](https://learn.microsoft.com/en-us/power-pla

[2022-10-04 07:52] KTeruyuki opened #1492 "日本語ページに間違っている"
[フィードバックをこちらに入力してください]

https://learn.microsoft.com/ja-jp/power-platform/admin/system-settings-dialog-box-formats-tab

「システム設定の形式タブ」と表示されるべきタイトルが、「システム設定の営業タブ」と表示されている

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 learn.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 1595979a-db62-616a-946d-30df89b1b7c7
* Version Independent ID: b5561751-9dba-0b20-9cbd-fb5e61565f6d
* Content: [システム設定の営業タブ - Power Plat

[2022-10-04 09:00] bishalgoswami commented on #1492
Thanks for your comment, @KTeruyuki. This issue has been assigned to the doc author for review.

[2022-10-04 12:50] thalluripk opened #1493 "It is hard to follow without examples"
[Enter feedback here]
Without examples, it is very difficult to understand what to feed in the parameters. For example, I don't have a clue how I should feed the filter criteria. Is it OData filters? PowerShell filters?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 10bda820-3ad2-29d7-9cb2-bc87afbd1f7b
* Version Indep

[2022-10-04 13:00] bishalgoswami commented on #1493
Thanks for your comment, @thalluripk. This issue has been assigned to the doc author for review.

[2022-10-04 13:04] itprofessional68 opened #1494 "Reference to Manage Properties option is vague due to non-intuitive UI"
In https://learn.microsoft.com/en-us/power-virtual-agents/advanced-bot-framework-composer-example2, the instructions read as follows:

"In your new DailySpecials dialog in Composer select the BeginDialog trigger to open the Authoring canvas. Go to Manage properties and select Set a property..."

Can you please update this to read as follows:

"In your new DailySpecials dialog in Composer select th

[2022-10-04 15:00] bishalgoswami commented on #1494
Thanks for your comment, @itprofessional68. This issue has been assigned to the doc author for review.

[2022-10-04 15:06] itprofessional68 opened #1495 "Change OnUnknownIntent to Unknown intent"
The documentation reads as follows:

"Once your new Composer content is successfully published, you can now see that **OnUnknownIntent** was added to the Topics page in Power Virtual Agents."

Please change to read as follows:

"Once your new Composer content is successfully published, you can now see that  **Unknown intent** was added to the Topics page in Power Virtual Agents."

Also, please upd

[2022-10-04 17:00] bishalgoswami commented on #1495
Thanks for your comment, @itprofessional68. This issue has been assigned to the doc author for review.

[2022-10-04 17:33] JimDaly commented on #1493
@thalluripk
Thanks for your feedback.
I'll work with the team to try and get some examples here.

[2022-10-04 17:39] kkanakas commented on #1488
@m3ngi3 that is not the case the only time it does it on my setup is when I have the export setup as this
<img width="1503" alt="image" src="https://user-images.githubusercontent.com/22942069/193888527-8b209e5a-e141-4ffd-8600-97c6d5fd07f8.png">

do you have something similar ?

[2022-10-04 18:54] JimDaly commented on #1493
@thalluripk

We added an example for the `--filter` parameter. It is a regular expression match on the organization name.
(you might not be able to see it until publishing completes by EOD)

There is an on-going effort to add more examples here. If you find more cases where you need examples, please let us know.

[2022-10-04 18:54] #1493 closed

[2022-10-05 02:51] aigolang opened #1497 "Not Match with PowerAutomate Custom Connector"
[Enter feedback here]
This doc is really old and useless, many configurations are different with current Custom Connector config! Please help to update ASAP!!!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1855a9ee-8713-c8e6-2091-bc972f877c13
* Version Independent ID: c87a0108-4de6-49df-8ba3-3bdb06216ad8
* Content: [

[2022-10-05 03:00] bishalgoswami commented on #1497
Thanks for your comment, @aigolang. This issue has been assigned to the doc author for review.

[2022-10-05 07:14] m3ngi3 commented on #1488
No --> see code when using updated Version 2 of Power Platform Build Tools:
`
      - task: PowerPlatformExportSolution@2  #Export Managed Solution to machine as .zip file locally
        displayName: 'Solutions - ManSol export zip locally'
        inputs:
          authenticationType: 'PowerPlatformSPN'
          PowerPlatformSPN: ${{ parameters.connectionString }}
          SolutionName: '${{ pa

[2022-10-05 10:45] manuelap-msft commented on #1497
Hello @aigolang,

thanks for the feedback - we update this page monthly to reflect the most up to date set up. Could you please let me know the exact steps you found out of date?

Thank you
Manuela

[2022-10-05 14:26] kkanakas commented on #1488
it could be from the variable that you are setting for the SolutionInternalName, where are you setting that ?

[2022-10-05 17:52] tomka75 opened #1498 "Missing description for variables in file Set-PowerPlatformHubAsDLPErrorSettings.ps1"
In the documentation the setting of the variable in the script Set-PowerPlatformHubAsDLPErrorSettings.ps1 is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9ff93b5f-b80f-45e4-7d90-9d22f5c56089
* Version Independent ID: 58c095c5-1963-bd82-cbca-a57ff90c91e0
* Content: [Create an internal Microsoft Power Platfor

[2022-10-05 19:00] bishalgoswami commented on #1498
Thanks for your comment, @tomka75. This issue has been assigned to the doc author for review.

[2022-10-06 04:15] DavidPaf opened #1499 "The pull request cannot be activated because the source and/or the target branch no longer exists, or the requested refs are not branches"
Hello,

I get error  while following the document: https://learn.microsoft.com/en-us/power-platform/guidance/coe/setup-almacceleratorpowerplatform-upgrade-config#updating-the-pipelines-in-azure-devops

ERROR: TF401398: The pull request cannot be activated because the source and/or the target branch no longer exists, or the requested refs are not branches

[2022-10-06 06:32] m3ngi3 commented on #1488
Nope... that comes from a template parameter that comes from a Library Variable

Pipeline stage =
- stage: 'buildinsbadev01'
  displayName: 'Build from insbadev01'
  jobs:
    - job: 'Build01'
      displayName: '$(PowerPlatformSolution02) build'
      steps:
      - template: 'Templates/BuildSolution.yml'
        parameters:
          connectionString: '$(EnvironmentServiceConnection)'

[2022-10-06 08:29] #1498 closed

[2022-10-06 08:30] manuelap-msft commented on #1490
Fixed yesterday with our latest docs update!

[2022-10-06 08:30] manuelap-msft commented on #1463
Fixed yesterday with our latest docs update!

[2022-10-06 08:30] manuelap-msft commented on #1454
Fixed yesterday with our latest docs update!

[2022-10-06 08:30] #1454 closed

[2022-10-06 15:35] ShanthiTV opened #1502 "Unable to enable admin mode for a Trial subscription based environment"
Hi Team,

I have created a Trial(subscription-based) environment. I have started a per user plan of Power Apps and Power Automate with the same Tenant. When I try to enable the admin mode for the environment, I'm getting **The environment SKU 'SubscriptionBasedTrial' is invalid.** error.
I'm following the docs from here.

https://learn.microsoft.com/en-us/power-platform/admin/trial-environments#cr

[2022-10-06 23:32] OranguTech commented on #1423
Bump. I know the following are/should be their own issues, will put a couple here as examples:

- The module itself uses poorly chosen verbs. (PS itself warns you when the module is imported!)` add-PowerAppsAccount` really should be `Connect-PowerappsAccount`.  (See the Az module to compare)

- https://learn.microsoft.com/en-us/powershell/module/microsoft.powerapps.administration.powershell/get-ad

[2022-10-07 22:01] Sinha-Abhisek opened #1504 "Solution Export with version"
When using pac solution export there is no way to retrieve/set the version number to the name of the solution zip file. Since pac solution export emulates how we would export solution from the maker portal, having the ability to add version number to the solution zip file name would be really helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟

[2022-10-07 23:11] phecke commented on #1489
@BastienMazzolini Thanks for contacting us. As we haven’t heard back from you, I am closing this issue. If you need further help, please reopen the issue or open a new issue.

[2022-10-07 23:11] #1489 closed

[2022-10-08 00:07] kkanakas commented on #1504
@Sinha-Abhisek  we have --targetversion but that parameter is deprecated.  You can also use pac solution version to set the version of the exported solution zip file.

[2022-10-08 00:14] kkanakas commented on #1491
@eduardorivas9  I would like to know how does it behave when you save because this the experience I have when I do it in my personal tenant
<img width="481" alt="image" src="https://user-images.githubusercontent.com/22942069/194677514-53adf38f-dfbd-4bc2-9ef0-f0af9261d060.png">

[2022-10-08 01:38] eduardorivas9 commented on #1491
Remove the blank space in field name: "mysolution" and you will got it. But
the prefix does not have issues with underscore.

On Fri, Oct 7, 2022, 7:14 PM Kartik Kanakasabesan ***@***.***>
wrote:

[2022-10-08 06:10] rsantos00 commented on #1499
Thanks for reporting this @phecke, we have a new experience to setup ALM projects that is under the AA4PP Admin App (Model Driven App). We will update this doc to include the new experience. If you need help, please create a question under https://github.com/microsoft/coe-starter-kit/issues and wr can follow up from there.
Thanks

[2022-10-09 07:27] SRVClapton opened #1506 "GCCH instead of GC High"
[In Dyanmics 365 US Government feature limitations, we show:
US Government COmmunity Cloud (GCC)
US GC High
and
US Department of Defense (US DoD)

We should change US GC High to US Government Community Cloud High (GCCH).]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6c4c21f6-aad6-d020-8559-ae4a60f287db
* Version Ind

[2022-10-09 09:00] bishalgoswami commented on #1506
Thanks for your comment, @SRVClapton. This issue has been assigned to the doc author for review.

[2022-10-10 07:31] femo1de opened #1507 "Inconsistent wording"
I think this makes no sense, why choose "remove" to install?

![image](https://user-images.githubusercontent.com/90273092/194817030-39860060-7204-4415-8020-eb550172c8b5.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5446bda4-9257-9a56-ff6b-b62a82b79132
* Version Independent ID: 5446bda4-9257-9a56-ff6b-b62a82b7913

[2022-10-10 09:00] bishalgoswami commented on #1507
Thanks for your comment, @femo1de. This issue has been assigned to the doc author for review.

[2022-10-10 12:56] rsantos00 commented on #1499
We should move this discussion to https://github.com/microsoft/coe-starter-kit/issues , we need more information since we were not able to reproduce the situation.

[2022-10-10 12:56] #1499 closed

[2022-10-10 15:27] JonathanFingold commented on #1495
@bishalgoswami - sorry for the delay. Researching some related issues before making an update.

[2022-10-10 21:32] jimholtz commented on #1502
@ShanthiTV
Sorry you're experiencing this issue. Please contact support: https://powerapps.microsoft.com/support/

[2022-10-10 21:32] #1502 closed

[2022-10-10 21:52] jimholtz commented on #1477
@richatcosta
Thanks for the suggestion. We'll consider this for future revisions to this content.

[2022-10-10 21:52] #1477 closed

[2022-10-10 23:08] jimholtz commented on #1481
@partridgetim
Sorry you're experiencing this issue. Please contact support: https://powerapps.microsoft.com/support/

[2022-10-10 23:08] #1481 closed

[2022-10-10 23:33] jimholtz commented on #1474
@robertobudelo-armacell
Sorry for the delayed response. Here's what the product team communicated:

1. The solution is expected to only have the “SharePoint custom form Maker” security role.

This provides a mechanism for Power Platform to distinguish users with only privileges SharePoint Custom Form privileges from general Environment Makers which can make any Power Platform resource. To observe

[2022-10-10 23:33] #1474 closed

[2022-10-11 00:30] Bernadette2022 commented on #1492
feedback is sent for investigation

[2022-10-11 12:16] Jose-RP-Teixeira opened #1510 "update API requests"
Article lists 10,000 additional API requests for $50, but this number has been updated to 50,000, at least according to:
https://learn.microsoft.com/en-us/power-platform/admin/power-automate-licensing/add-ons

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a2cad5bd-4ffa-3671-0364-95e5b6f65256
* V

[2022-10-11 13:01] bishalgoswami commented on #1510
Thanks for your comment, @Jose-RP-Teixeira. This issue has been assigned to the doc author for review.

[2022-10-11 16:08] rrwolfe opened #1511 "GCCH RW2 Deployment Details Incorrect"
We have GCCH region listed to receive RW2 on weekend of Oct 28, but this region is in Station 3 and has already received the RW. This is confusing customers who were using this document for guidance on when the RW would be applied to their GCCH environments.

Additional reference: https://learn.microsoft.com/en-us/dynamics365/released-versions/microsoft-dataverse

---
#### Document Details

⚠ *Do

[2022-10-11 17:00] bishalgoswami commented on #1511
Thanks for your comment, @rrwolfe. This issue has been assigned to the doc author for review.

[2022-10-11 17:29] MrRishabhJain opened #1512 "PAC CLI Doc says to choose remove option when trying to install."
https://learn.microsoft.com/en-us/power-platform/developer/cli/introduction#install-power-platform-cli-for-windows

The above section should say "choose the Install option" rather than "choose the Remove option".

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5446bda4-9257-9a56-ff6b-b62a82b79132
* Version Independent

[2022-10-11 18:14] JimDaly commented on #1512
@MrRishabhJain
Thanks for catching this.
I've fixed it and the change will be visible later today.

[2022-10-11 18:14] #1512 closed

[2022-10-12 01:51] MakotoSasakiGitHub opened #1514 "navigate function send "blank" as "0" ?"
[フィードバックをこちらに入力してください]
Hi,MSDN

locContiext value of blank() is navigated as "blank()" ,good:)
but stuffed.locContext value of blank() seems navigated as "0"...why:)?

thank you

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 learn.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 9b566f37-f394-2c64-b7eb-7649f1d59dcd
* Version Independent ID: 9b566f37-f394-2c64-b7eb-7649f1d59dcd
* Content: [Power Apps の B

[2022-10-12 13:18] Toxumuharu opened #1515 "Pointing out typo "引く続き" (It should be "引き続き")"
In the body of the link, there is a typo.
https://learn.microsoft.com/ja-jp/power-platform/admin/powerapps-flow-licensing-faq#are-full-power-automate-capabilities-included-in-power-apps-licenses

The part "引く続き" in the first line should be "引き続き".

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 learn.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: a2cad5bd-4ffa-3671-0364-95e5b6f65256
* Version Independe

[2022-10-12 15:00] bishalgoswami commented on #1515
Thanks for your comment, @Toxumuharu. This issue has been assigned to the doc author for review.

[2022-10-12 16:38] ksagala opened #1516 "Missing reference to yammer"
template from September 30th has web part related to yamer community, but there is no information about it

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9ff93b5f-b80f-45e4-7d90-9d22f5c56089
* Version Independent ID: 58c095c5-1963-bd82-cbca-a57ff90c91e0
* Content: [Create an internal Microsoft Power Platform hub - Pow

[2022-10-12 17:00] bishalgoswami commented on #1516
Thanks for your comment, @ksagala. This issue has been assigned to the doc author for review.

[2022-10-13 10:42] lukas-nC opened #1518 "How to stay up to date with the power platform documentaion"
Hi,

is there an easy way to get a notification, when something in the documentation changes? Or list when which site has been added/ edited?
I only found a [flow templete](https://powerautomate.microsoft.com/en-US/templates/details/4fcdb850e8204ce392f2353830264220/send-me-an-email-when-documentation-is-updated-on-docsmicrosoftcom/), but there I have to define a specific URL.

---
#### Document De

[2022-10-13 11:00] bishalgoswami commented on #1518
Thanks for your comment, @lukas-nC. This issue has been assigned to the doc author for review.

[2022-10-13 15:31] JMCA2 opened #1519 "Clarify licensing of portals for Dynamics CS Pro"
On the [Dynamics 365 Licensing Guide](https://go.microsoft.com/fwlink/?LinkId=866544&clcid=0x409) it states
`Customer Service Professional provides basic resources for customer service agents. It also provides a self-service customer portal and access to a knowledge base for end customers"`

This makes it seem that agents, with a CS Pro license, are able to create self-service customer portals, wh

[2022-10-13 15:37] JonathanFingold commented on #1494
Information has been posted here: https://github.com/microsoft/BotFramework-Composer/issues/9400

[2022-10-13 19:00] bishalgoswami commented on #1519
Thanks for your comment, @JMCA2. This issue has been assigned to the doc author for review.

[2022-10-13 22:01] bakuur opened #1521 "Deprecated Microsoft Dataverse (legacy) connector Migration Tool"
https://learn.microsoft.com/en-us/power-platform/important-changes-coming#microsoft-dataverse-legacy-connector-cds-20-connector-for-power-automate-flows-will-be-deprecated-and-replaced-with-another-connector

```In some cases, users will be able to use a migration tool to migrate from the Dataverse (legacy) connector to the Microsoft Dataverse connector. On the detail page of each flow, you'll see

[2022-10-14 16:30] huseyinazizcan opened #1524 "Configuration Migration Tool - User mapping dialogue wont show when attempting to import data.zip with user table"
Hi,

This issue is regarding the Configuration Migration tool.

When including user table (systemuser) in the schema/configuration data output using the ConfigurationMigration tool, it is supposed to provide a dialogue to ask for user mappings when attempting to importing the data into the target system (at least according to your documentation in the below link)

[https://learn.microsoft.com/en-u

[2022-10-17 15:38] ShawnNulph opened #1525 "Update "Data export to App Insights" article to reflect GA availability"
Hi,

It appears that this functionality was in GA back in May. Can you update the regional availability to reflect that the feature is GA? Also, when you get time, it will need new screenshots so that Data Export does not show preview as well.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 88890

[2022-10-17 16:47] PiotrMichalski1987 opened #1526 "Power portal extension in dev ops fails on Power Portal Download task"
Hi. I have been struggling with this for couple of hours now. When I execute dev ops pipeline it fails on the task of downloading portal.

PiotrMichalski_0-1666024028943.png

Extension is being installed successfully, connection is verified with "who am I".

The details of the errors on the task:

PiotrMichalski_2-1666024527477.png

The portion that was cut on the screenshot:

"Sorry, the app enco

[2022-10-17 17:00] bishalgoswami commented on #1526
Thanks for your comment, @PiotrMichalski1987. This issue has been assigned to the doc author for review.

[2022-10-17 21:37] rrwolfe opened #1529 "[Power Platform Hub] Deployment script & documentation doesn't include necessary steps for Azure Gov regions"
Issue: The scripts used to create the SharePoint site do not work with Azure Government regions (GCC High, DoD) resulting in an error during the Connect-PnPOnline commands.

Resolution: Azure Government requires that you authenticate with an Azure AD app when connecting to the PnP service.

**1. Create the P2P PowerShell app registration:**
Note: This command should be reviewed by a SharePoint SME

[2022-10-17 23:00] bishalgoswami commented on #1529
Thanks for your comment, @rrwolfe. This issue has been assigned to the doc author for review.

[2022-10-18 09:44] lukas-nC opened #1530 "Licencing for inactivity process"
Hi,

which licensing is required for who in the inactivity processes?
Specifically, I'm in interested in, does the one who gets the approval from "Admin | Inactivity notifications v2 (Start Approval for Apps)" flow need a premium licence, if he just approves or rejects and doesn't use the link to the clean up app?

Best Regards

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. E

[2022-10-18 09:58] manuelap-msft commented on #1530
Hello,

no premium license is required for interacting with the Approvals via eMail. However, if you want to share the Cleanup old objects app this requires a premium license - either per user or per app - or for the environment to be covered with Pay as you go.

Manuela

[2022-10-18 09:58] #1530 closed

[2022-10-18 17:36] avsrot opened #1531 "Power Pages Authenticated Users licensing"
Thanx for the detailed  "Power Platform" FAQ.

There is one angel of Power Pages licensing which I still can't get my head wrapped around it -
if I have **500** 'Authenticated Per User' users **registered** already to my site, but on a specific month only **200** of them have **actually accessed the site** - how many licenses will I be charged for on this specific month?
[Enter feedback here]

---

[2022-10-18 18:55] CristinaEU1 opened #1532 "Day count question"
Hi!

I'm currently going through the **Microsoft Ignite: Cloud App Maker Challenge** coursework and in the [Create apps, chatbots, flows, and more with Microsoft Dataverse and Teams ] > Build your first workflow with Power Automate and Dataverse for Teams > Check your knowledge unit > for Q: **What is the default length of time that Dataverse for Teams will store a flow's run history before deleti

[2022-10-18 19:00] bishalgoswami commented on #1532
Thanks for your comment, @CristinaEU1. This issue has been assigned to the doc author for review.

[2022-10-18 19:01] bishalgoswami commented on #1531
Thanks for your comment, @avsrot. This issue has been assigned to the doc author for review.

[2022-10-18 20:21] CCSdany2021 opened #1533 "platform"
[Escriba sus comentarios aquí]

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para learn.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: 706b8a1d-984e-f4f0-deaa-ed4e8b740dc5
* Version Independent ID: 706b8a1d-984e-f4f0-deaa-ed4e8b740dc5
* Content: [Función Notify en Power Apps - Power Platform](https://learn.microsoft.com/es-es/power-platform/power-fx/reference/

[2022-10-18 21:00] bishalgoswami commented on #1533
Thanks for your comment, @CCSdany2021. This issue has been assigned to the doc author for review.

[2022-10-18 21:24] #1533 closed

[2022-10-19 21:45] bakuur commented on #1521
@MSFTMan Any info you can provide regarding this would be much appreciated

[2022-10-20 00:12] gregli-msft opened #1534 "Display names modified on solution export/import should be more thoroughly explained."
[Enter feedback here]

The section under [display names and identifiers](https://learn.microsoft.com/en-us/power-platform/power-fx/reference/operators#display-names-and-logical-names) should be expanded to include solution import and export.  We have had an ICM where the logical names didn't match up between two environments, the Canvas app correctly updated the names, but it was surprising to the

[2022-10-20 01:00] bishalgoswami commented on #1534
Thanks for your comment, @gregli-msft. This issue has been assigned to the doc author for review.

[2022-10-20 03:47] #1534 closed

[2022-10-20 15:52] JonathanFingold commented on #1494
@bishalgoswami - This article has been updated. Thanks!

[2022-10-20 15:52] #1494 closed

[2022-10-20 16:56] nickdoelman commented on #1531
Thank you for your feedback.

I encourage you to speak with your Microsoft rep about your needs.

You would need to pay for whatever subscription capacity you select, whether the users log in or not.

If your site only has 200 users per month (out of your total user population) then you may want to consider getting a subscription that covers only that usage. Please see this [FAQ item](https://lear

[2022-10-20 16:56] #1531 closed

[2022-10-20 18:03] v-alarioza commented on #1470
Hi @JhinalRajput, this was caused by a bug in the connector, but has been resolved.

[2022-10-20 18:03] #1470 closed

[2022-10-20 18:05] Underdoge opened #1535 "The AsType and IsType Syntax "TableType" parameter definitions are switched up"
The AsType and IsType [Syntax](https://learn.microsoft.com/en-us/power-platform/power-fx/reference/function-astype-istype#syntax) "TableType" parameter definitions are switched up. AsType is for casting, IsType is for testing.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d90a4f0f-2811-9c48-b262-8ff54b4661c9
* Versio

[2022-10-20 19:00] bishalgoswami commented on #1535
Thanks for your comment, @Underdoge. This issue has been assigned to the doc author for review.

[2022-10-20 21:58] gabrieljunckes opened #1536 "Links on the page are not working"
Please, update the links below.

_For an example of configuration and data deployment configuration, go to the ALMAcceleratorSampleSolution [deployment settings](https://github.com/microsoft/coe-starter-kit/blob/main/ALMAcceleratorSampleSolution/config/deploymentSettings.json) and [custom deployment settings](https://github.com/microsoft/coe-starter-kit/blob/main/ALMAcceleratorSampleSolution/confi

[2022-10-20 23:00] bishalgoswami commented on #1536
Thanks for your comment, @gabrieljunckes. This issue has been assigned to the doc author for review.

[2022-10-21 05:22] crsnt opened #1537 "IRAP certified?"
Will Power Platform and Dynamics 365 apps be Information Security Registered Assessors Program (IRAP) certified when the datacenters are live in Australia?

The answer to the above question seems to never be updated for ages. Is Power Platform now IRAP certified? Thanks :)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID

[2022-10-21 07:00] bishalgoswami commented on #1537
Thanks for your comment, @crsnt. This issue has been assigned to the doc author for review.

[2022-10-21 17:14] kathyos commented on #1253
Documentation is rewritten and the link provided now (aka.ms/automation-kit-issues) works. Apologies for late response.

[2022-10-24 06:53] m3ngi3 commented on #1488
Hi @kkanakas ,
I see you were able to reproduce?? 😉
https://powerapps.microsoft.com/en-us/blog/power-platform-developer-tools-monthly-release-september-refresh/
![image](https://user-images.githubusercontent.com/47530580/197465060-b4e96ebf-47db-4038-8577-3cd362037ad0.png)

In my Export tasks you will see that I have defined the **SolutionOutputFile** property so why does it still add _managed behi

[2022-10-24 15:34] davidjenni commented on #1445
@ibruynin, my team, the engineering team that owns the PP-BT tasks, has no plan to add solution clone as task to the Power Platform Build Tools AzDevOps tasks.

The `pac solution clone` is intended for inner-dev loop only to populate an initial source tree from a solution, which then can be built via msbuild/dotnet build.

@bishalgoswami please transfer this issue to our product's issue tracker:
h

[2022-10-25 00:38] kkanakas commented on #1488
Yes, it is a new feature. Can you do me a favor and open a case with support and provide the logs and the steps that you are doing how you are running into this situation.

Kartik (He/Him)
I work in Seattle Time (Pacific Time).My working hours may not be your working hours. Please do not feel obligated to respond outside of your normal work hours.

From: Django Lohn ***@***.***>
Sent: Sunday, Octo

[2022-10-25 02:11] danielvi1787 opened #1540 "Format panel content table with wrong values"
Hello,

In the section Format panel content, the table with the example values for the component inside the panel should be:

x -> cmp_panel.ContentX
y -> cmp_panel.ContentY
width - > cmp_panel.ContentWidth
height -> cmp_panel.ContentHeight

and no all cmp_panel.X as it shows.

Best!
Daniel

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub iss

[2022-10-25 03:00] bishalgoswami commented on #1540
Thanks for your comment, @danielvi1787. This issue has been assigned to the doc author for review.

[2022-10-25 06:44] kota-yamada opened #1541 "About translating "Production Environment" to Japanese"
[フィードバックをこちらに入力してください]
In this page, in Japanese, "Production Environment" is translated as "運用環境".
![image](https://user-images.githubusercontent.com/39474534/197695302-852ff87f-98f4-4e8d-827c-39cc1e80c01c.png)

However, it should be translated as "実稼働環境".
In other pages like a below one, it is translated as "実稼働環境".
https://learn.microsoft.com/ja-jp/power-platform/admin/environments-overview#typ

[2022-10-25 07:00] bishalgoswami commented on #1541
Thanks for your comment, @kota-yamada. This issue has been assigned to the doc author for review.

[2022-10-25 07:02] m3ngi3 commented on #1488
Hi @kkanakas,
It seems I am not able to reproduce anymore... when the output file path is specified it seems to respect it now and not place _managed behind it anymore. That is great!

But as you can see above in one of my posts that unpacking the file using **the exact same output file path** --> the file could not be found because of the _managed postfix. These kind of bugs are a real headache b

[2022-10-25 09:37] benjdv opened #1543 "IsBlank() vs =Blank()"
[Enter feedback here]
Documentation for isblank function seems to differ from reality of PBI

Documentation says :
`The IsBlank function tests for a blank value or an empty string. The test includes empty strings to ease app creation since some data sources and controls use an empty string when there is no value present. To test specifically for a blank value use if( Value = Blank(), ... instead o

[2022-10-25 10:28] neeranelli opened #1544 "Step is missing in enabling previews in Power Platform admin center"
Hello,

It would be great if the step to expand **Product** and select **Features** is added in the [In the Power Platform admin center](https://learn.microsoft.com/en-us/power-platform/admin/what-are-preview-features-how-do-i-enable-them#in-the-power-platform-admin-center) procedure.

![image](https://user-images.githubusercontent.com/52775901/197748985-ca98aaa1-e9ba-4303-b068-bce9b2d707d4.png)

[2022-10-25 11:00] bishalgoswami commented on #1544
Thanks for your comment, @neeranelli. This issue has been assigned to the doc author for review.

[2022-10-25 11:00] bishalgoswami commented on #1543
Thanks for your comment, @benjdv. This issue has been assigned to the doc author for review.

[2022-10-25 17:14] RickKush commented on #886
Create and run a dummy Flow with an Approval action, and the missing object will be automatically created.

[2022-10-25 17:30] KumarVivek commented on #1544
Fixed; will be live shortly.

[2022-10-25 17:30] #1544 closed

[2022-10-25 18:02] Funken1766 opened #1545 "Request for rewrite/removal or redirection"
[There are several things incorrect with this content.
1. The first paragraph about the app launcher does not give the customer a complete instruction on how to specifically navigate to the D365CE apps. A better example can be found here:
https://learn.microsoft.com/en-us/power-apps/user/run-app-browser
2. The note about D365 govt subscriptions is no longer relevant.
Overall would recommend a rewr

[2022-10-25 19:00] bishalgoswami commented on #1545
Thanks for your comment, @Funken1766. This issue has been assigned to the doc author for review.

[2022-10-25 19:19] jeremygiden1 opened #1546 "This solution does not work in the current form of Power Apps."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9b784f58-59eb-fb06-da8f-4747f6900db3
* Version Independent ID: 9b784f58-59eb-fb06-da8f-4747f6900db3
* Content: [Filter, Search, and LookUp functions in Power Apps (contains video) - Power Platform](https://learn.microsoft.com/en-us/power-platform/pow

[2022-10-25 21:00] bishalgoswami commented on #1546
Thanks for your comment, @jeremygiden1. This issue has been assigned to the doc author for review.

[2022-10-25 22:11] jeremygiden1 commented on #1546
Team,

We have worked out the solution ourselves.
Appreciate the quick response.

Thank you for your time, / Best regards,

Jeremy Iden

Senior Director Technical Support, Service and Training
Farm Technologies Representative USA
Region NAM | North America

Email
Landline
Address
Web
***@***.******@***.***>
+1 630-548-8366
1385 N Weber Rd, Romeoville, IL 60446, United States of America
www.gea.com

[2022-10-25 22:15] tapanm-MSFT commented on #1546
Thank you for the update. Closing this issue for now.

[2022-10-25 22:15] #1546 closed

[2022-10-26 10:11] petepuu opened #1549 "Undefined PowerShell execution policy is not woking"
In troubleshooting part it is stated that if running PowerShell script is blocked by policy then remove the execution policy from the current user but this does not seem to work.

_"you have to update the execution policy to remove the execution policy from the current user_"

<img width="435" alt="image" src="https://user-images.githubusercontent.com/8307644/197974033-5eef1d2c-cb31-4ca3-a0b1-9342

[2022-10-26 14:17] DavideCerqua opened #1552 "Missing description for the new "Azure AD office team""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 148f041b-a63f-470c-ec11-08a2ebd3bde1
* Version Independent ID: 546ce331-8abc-4187-9bfa-6f4d4e03e62c
* Content: [Teams in Dataverse - Power Platform](https://learn.microsoft.com/en-us/power-platform/admin/manage-teams)
* Content Source: [power-platfor

[2022-10-26 15:00] bishalgoswami commented on #1552
Thanks for your comment, @DavideCerqua. This issue has been assigned to the doc author for review.

[2022-10-27 00:09] martin-dreyer-teck opened #1553 "Provide clear link for product feedback on Power Platform CLI"
The product feedback link on the Power Platform CLI pages take us to https://powerusers.microsoft.com/ which is simply a launching page to a wide variety of forums. Please provide a link that is more specific so we can both see and add feedback on the Power Platform CLI specifically.

Example of a page with this problem: https://learn.microsoft.com/en-us/power-platform/developer/cli/introduction

[2022-10-27 01:40] Dlutchy opened #1554 "Microsoft Online Services Terms link change"
Refer under Governance section (First Line) - Microsoft Online Services Terms link is incorrect. Please fix.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e721466c-72f9-e75d-993f-4167cff327cd
* Version Independent ID: e721466c-72f9-e75d-993f-4167cff327cd
* Content: [Security in Microsoft Power Platform - Power Platfor

[2022-10-27 05:46] DaniilMaslyuk opened #1555 "Please update the roles"
The roles should be changed:

- **Can use** became **Connection Creator**
- **Can use + share** became **Connection Creator with resharing**

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a44a8eba-1a59-a8d2-d4f2-25562d0b6adf
* Version Independent ID: 2b986d0c-a3c6-f61a-cf2b-3f5f4fbe65fe
* Content: [View and manage on-

[2022-10-27 07:00] bishalgoswami commented on #1555
Thanks for your comment, @DaniilMaslyuk. This issue has been assigned to the doc author for review.

[2022-10-27 16:28] MattB-msft opened #1556 "Please add links to and from PowerPlatform Security Topic."
This item is very hard to find when searching for information on security privileges in the system.

Can this be linked to these topics please:
https://learn.microsoft.com/en-us/power-platform/admin/wp-security-cds
https://learn.microsoft.com/en-us/power-platform/admin/database-security

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub

[2022-10-27 16:47] ChrisGarty commented on #1556
@jimholtz , I submitted PR 5790 for this

[2022-10-27 16:48] #1556 closed

[2022-10-28 16:57] EllenWehrle opened #1558 "Sentence repeated"
[The following sentence is repeated following a table: To determine which license a user has, sign in to the [Microsoft 365 admin center](https://admin.microsoft.com/) and follow the steps in [Assign licenses to multiple users on the Active users page](https://learn.microsoft.com/en-us/office365/admin/manage/assign-licenses-to-users?view=o365-worldwide).]

---
#### Document Details

⚠ *Do not edit

[2022-10-28 17:00] bishalgoswami commented on #1558
Thanks for your comment, @EllenWehrle. This issue has been assigned to the doc author for review.

[2022-10-28 23:39] Sinha-Abhisek commented on #1504
Thanks @kkanakas - I had seen that. My intention was to add the solution version number to the exported file name similar to the GUI experience.

[2022-10-29 14:57] CalvinQuark opened #1559 "Share button not present on team site's Home page"
When I attempt to follow these directions, I am not seeing a "Share" option on my team site's Home page. The only menu bar options across the top are New, Page Details, Analytics, and Edit. So, it's not clear to how to follow this article because of the discrepancy between what I'm encountering versus what this article depicts. Perhaps there is a way to enhance this article to inform the uninitiat

[2022-10-29 15:00] bishalgoswami commented on #1559
Thanks for your comment, @CalvinQuark. This issue has been assigned to the doc author for review.

[2022-10-31 09:53] lar-mar opened #1560 "Azure DevOps Power Platform Build Tasks - Progress status"
Hello,
what does the percentage message in the progess status should tell us?
![image](https://user-images.githubusercontent.com/15412588/198979424-444ee947-2eb3-45af-bf70-f1f2b9f2001f.png)

First I thought it only needs to be multiplied by 100% but as there are messages with more than 1.00% I do not get the point of these status messages.

[2022-10-31 09:56] lar-mar opened #1561 "Azure DevOps Power Platform Build Tasks - Import Solution"
With task version .2 the Import solution does not provide the Error logfiles form Dataverse anymore when the import fails.
We only get the message
![image](https://user-images.githubusercontent.com/15412588/198981265-089c200b-08ae-45fa-956a-206e7a551d5d.png)

The only way the get the details is importing the solution manually via Maker portal.

Please provide the error log from Dataverse again wit

[2022-10-31 17:07] PPMini opened #1562 "Description of Admin| Sync Template v3 (call Updates) not clear"
Customer feedback: The description of the flow does not clarify ' which three flows will be triggered'

<img width="542" alt="image" src="https://user-images.githubusercontent.com/112712553/199066902-90b03453-651f-4414-aabf-8b11ba6002cf.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e70f7e68-a58d-f9a1-1f2a-3f2be

[2022-10-31 19:00] bishalgoswami commented on #1562
Thanks for your comment, @PPMini. This issue has been assigned to the doc author for review.

[2022-11-01 22:30] JerryCRMI opened #1567 "Co"
Bullet item #2 below doesn't make sense in this section https://learn.microsoft.com/en-us/power-platform/admin/move-environment-tenant?tabs=image#steps-to-be-performed-by-a-global-admin-dynamics-365-admin-or-power-platform-admin .

If we'll be moving a production environment, we first need to migrate a sandbox copy. In that case, we'll also need a new environment in the source tenant so we can cop

[2022-11-01 23:02] bishalgoswami commented on #1567
Thanks for your comment, @JerryCRMI. This issue has been assigned to the doc author for review.

[2022-11-02 15:30] sperry1625 opened #1570 "Broken Link"
The link, https://aka.ms/paadminanalytics, generates a 404 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 58eb4b8e-13ae-4b99-5863-cfe07b921ea2
* Version Independent ID: 2384f8a9-7698-eb29-c2f4-1a57f9340e47
* Content: [Security and governance considerations in Power Platform - Power Platform](https://learn.micro

[2022-11-03 16:34] mduelae commented on #1535
@Underdoge.  Thank you for the feedback. I fixed the Syntax section and corrected the definitions.

Thanks,
Mints

[2022-11-03 16:34] #1535 closed

[2022-11-03 18:38] slgsperry opened #1571 "Power Automate URL Correction"
The Power automate URL has changed, it is no longer https://flow.microsoft.com/manage/environments, it is https://make.powerautomate.com/manage/environments/. Shouldn't the documentation reflect that change?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9fe69498-a485-5379-97ff-53fbe029f11a
* Version Independent ID: 5

[2022-11-03 19:00] bishalgoswami commented on #1571
Thanks for your comment, @slgsperry. This issue has been assigned to the doc author for review.

[2022-11-03 19:02] slgsperry opened #1572 "Documentation for Setting up CoE for a subset of environments is wrong"
The first bullet states "After import of the Core components and before you turn on flows, set the value of the `is All Environments` Inventory environment variable to No. Learn more: [Update environment variables](https://learn.microsoft.com/en-us/power-platform/guidance/coe/faq#update-environment-variables)).".  The problem is there is no environment variable with that name. I found one called `

[2022-11-03 19:06] manuelap-msft commented on #1572
The Environment Variable is called **is All Environments Inventory** and was introduced and added with the November release of the CoE starter kit, which was released yesterday. You'll have to upgrade to the latest version to use this feature. Please note, you will only have to use this feature if you want to perform a partial inventory (inventory a subset of environments vs all environments in yo

[2022-11-03 19:07] manuelap-msft commented on #1571
For the time being, flow.microsoft.com still redirects to make.powerautomate.com but we'll put that change on our backlog.

[2022-11-03 19:08] slgsperry opened #1573 "Non existent Flow"
The "Turn on setup flows" section mentions flow `Admin | Excuse Non Inventoried Envts from Governance Flows`.  This flow does not exist. At least not as part of the core solution.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9fe69498-a485-5379-97ff-53fbe029f11a
* Version Independent ID: 5b3f9705-9e49-1575-4ae7-0293d

[2022-11-03 19:09] slgsperry commented on #1572
I am in the process of importing the November CoE into a new environment and it is NOT there.

Regards,

Steven Perry
Business Application Architect
P: 212-324-8810

From: Manuela Pichler ***@***.***>
Sent: Thursday, November 3, 2022 3:07 PM
To: MicrosoftDocs/power-platform ***@***.***>
Cc: Steven Perry ***@***.***>; Author ***@***.***>
Subject: Re: [MicrosoftDocs/power-platform] Documentation for

[2022-11-03 19:12] manuelap-msft commented on #1572
It has a Default value, so you won't be prompted on import but you can modify it afterwards. The November version is 3.56, 3.53 is October so you've got last months version. You can download the November release from here https://github.com/microsoft/coe-starter-kit/releases/tag/CoEStarterKit-November2022

[2022-11-03 19:13] manuelap-msft commented on #1573
It does exist as part of the November release. It's a flow that was added with the latest release. Our docs will always reflect the latest version.

[2022-11-03 19:13] #1573 closed

[2022-11-03 19:15] slgsperry commented on #1572
I downloaded the `CoEStarterKit-Unmanaged.zip` to grab everything at once and it has the 3.53 version.

[2022-11-03 19:18] manuelap-msft commented on #1572
Please download the CoEStarterKit.zip to download and install the managed versions, and learn how to extend the kit with your own unmanaged solution here: https://learn.microsoft.com/en-us/power-platform/guidance/coe/modify-components

We won't have an unmanaged version for November as we had some issues with our automated release. The unmanaged version will be available again in December.

[2022-11-03 19:36] slgsperry commented on #1572
Thank you, I will do that.

[2022-11-03 21:00] bishalgoswami commented on #1572
Thanks for your comment, @slgsperry. This issue has been assigned to the doc author for review.

[2022-11-04 09:12] BillyCottrell opened #1575 "Backup restoration requesting details"
Hi,

I have a production environment and want to restore that production environment to a sandbox environment.
For some reason, my sandbox environment won't appear.
Is it possible to restore a backup from a production to a sandbox, because there is no specification in the documentation from which type of environment you can restore a backup from to a sandbox environment?
Is this only sandbox to sa

[2022-11-04 11:00] bishalgoswami commented on #1575
Thanks for your comment, @BillyCottrell. This issue has been assigned to the doc author for review.

[2022-11-04 18:17] bhshastr opened #1576 "State assignment to team unsupported instead of group."
🚨 Looks like you arrived from the internal review site
🚨 Do not enter Microsoft confidential information here

[Enter feedback here]
The import sections says "This role is not currently supported for assigning to a group", it should say assigning to a team instead of group.
![image](https://user-images.githubusercontent.com/74993267/200046317-475c4734-2bf4-4e0c-ac45-c41f5a2f8faa.png)

---
#### Doc

[2022-11-04 19:00] bishalgoswami commented on #1576
Thanks for your comment, @bhshastr. This issue has been assigned to the doc author for review.

[2022-11-05 17:25] TGeoffro opened #1579 "Panel Control Overlay Color"
Set up OverlayColor property to transparent with RGBA(0, 0, 0, 0) or ColorFade(RGBA(0, 0, 0, 0),-20%) has no effect. I'm not able to replicate the transparent effect so nicely render in this article. Is it an issue, or wrong color code or not designed this way?
Kind regards
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHu

[2022-11-05 23:31] waiholiu opened #1580 "Default value for flags"
Is it possible to specify in the documentation what the default values for flags are supposed to be?

For example, HoldingSolution in  Power Platform Import Solution, would that be true or false if this is not specified in the command?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e2d7f63d-dcde-f057-555a-3fffce0f229c

[2022-11-06 23:11] JeromeVigne opened #1581 "Issue with CICD GitHUb pipeline"
Hi,

when I run the pipeline that is found in the documentation: https://github.com/microsoft/powerplatform-actions-lab/blob/main/sample-workflows/release-solution-to-prod-with-inputs.yml

I keep on running into an issue where the step upload-artifacts@v2 in line 94 does not find any files in the given path. I am unclear where the step: microsoft/powerplatform-actions/export-solution@v0 publishes

[2022-11-07 11:21] #1572 closed

[2022-11-07 15:31] robdawsoncranhillinsight opened #1582 "Missing constraint about creating Dynamics 365 apps only in Default region"
[Enter feedback here]
Could you please confirm if there is a constraint that, when creating a Dataverse environment and selecting to install D365 Apps, that the environment region MUST be that of the tenant Default region? And if so, why?

If it is true, there is no such constraint mentioned in this page section: https://learn.microsoft.com/en-us/power-platform/admin/create-environment#some-import

[2022-11-07 16:57] joneselliot opened #1583 "Update page to show StartScreen instructions in favor of OnStart"
Hello,

As the OnStart functionality will be deprecated/reduced, could you update this page to encourage use of the StartScreen property instead?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 10559351-f355-f97f-e7a4-903cd6a804fc
* Version Independent ID: 10559351-f355-f97f-e7a4-903cd6a804fc
* Content: [Launch and Par

[2022-11-08 03:18] TakiyaNakano-MSFT opened #1584 "please publish notification that model-driven apps created in the default environment cannot be deleted."
[Enter feedback here]
please publish notification on the following URL or somewhere else that model-driven apps created in the default environment cannot be deleted.

Environments overview - Power Platform | Microsoft Learn
https://learn.microsoft.com/en-us/power-platform/admin/environments-overview#the-default-environment

Non-admin users accessing the default environment are granted the Environm

[2022-11-08 14:01] bishalgoswami commented on #1582
Thanks for your comment, @robdawsoncranhillinsight. This issue has been assigned to the doc author for review.

[2022-11-08 14:01] bishalgoswami commented on #1581
Thanks for your comment, @JeromeVigne. This issue has been assigned to the doc author for review.

[2022-11-08 14:01] bishalgoswami commented on #1580
Thanks for your comment, @waiholiu. This issue has been assigned to the doc author for review.

[2022-11-08 14:01] bishalgoswami commented on #1579
Thanks for your comment, @TGeoffro. This issue has been assigned to the doc author for review.

[2022-11-08 22:03] frederikbisback commented on #687
Any update? Facing same issue.

[2022-11-08 22:12] MCKevmeister opened #1585 "Power Platform CLI only available on VS Code (GUI) or windows"
[Enter feedback here]

I use mac OS, and I use webstorm, i do not use Visual Studio Code as it is not an IDE and does not provide all the functionality that I need. Please allow me to use the CLI tool on mac without Visual Studio Code and make a Jetbrains plugin for azure CLI. Provide a cross platform CLI tool. Or else remove CLI from the name of this tool as its not a CLI tool, its a GUI tool tha

[2022-11-08 23:14] kkanakas commented on #1585
You can download the MacOS pac cli from the following location
https://www.nuget.org/packages/Microsoft.PowerApps.CLI.Core.osx-x64

[2022-11-08 23:42] davidjenni commented on #1585
@MCKevmeister we've been sim-shipping the pac CLI for a year+ for Windows (net48 fullFx) and linux/macOS (net6 intel/x64, no native M1/arm64 support yet). Installing from nuget.org is a bit more cumbersome for most users, hence we're not advertising that path much; our best practice installation is indeed via the VSCode extension.
Note that due to limitations in the nupkg format (it does not prese

[2022-11-09 00:59] MCKevmeister commented on #1585
So install vs code, install the extension, copy the installed extension to a different folder, uninstall vs code and add extension to path? How do you think that is this is the preferable solution for a mac developer who doesn't use VS code to just allowing the cli tool to be install via the CLI and publishing how to do so?

It sounds like you know how to do so, yet won't publish it because it wou

[2022-11-09 03:18] JeromeVigne commented on #1581
Hi @mikkelsen2000 ,

I found the fix:
the sample is giving the path to the zip file, when it should be to the folder location where the zip file is. So line 97 should be:
       ` path: ${{ inputs.solution_shipping_folder}}/`

And then because it is a managed solution that was exported, it appends _managed to the zip name, which means line 122 should be:

        `solution-file: ${{ inputs.solutio

[2022-11-10 01:19] AkunerTulachan opened #1588 "Source of DLP violation error message"
After I installed COE, the flow checker message seems to have updated for DLP violation. Can someone please help me to track down the source of the data?
![image](https://user-images.githubusercontent.com/55730006/200976868-fe45cca0-2e3a-4903-9270-5a36a636236d.png)

[2022-11-10 08:41] kota-yamada commented on #1541
How about the progress on this?

[2022-11-10 11:29] shammyowens opened #1589 "PublicClient $true"
In the PowerShell script, the following command is provided.

$app = New-AzureADApplication -DisplayName $spnDisplayName -PublicClient $true -ReplyUrls "urn:ietf:wg:oauth:2.0:oob" -RequiredResourceAccess $requiredAccess

But in the link to create the Service Principal manually, it does not suggest the need to Public Client Flows to be enabled

https://learn.microsoft.com/en-us/power-apps/developer

[2022-11-10 12:00] bishalgoswami commented on #1589
Thanks for your comment, @shammyowens. This issue has been assigned to the doc author for review.

[2022-11-11 11:12] poi-radvine opened #1590 "Power Automate URL does not exist since the new make.powerautomate.com change"
Setting the URL als EnviornmentVariable does not work since the change to make.powerautomate.com
It results in a 404 in my tenant. Try it out: https://make.powerautomate.com/environments/

<html>
<body>

Power Automate environment variable | The URL used by Power Automate for your cloud.For an environment in the commercial cloud: https://flow.microsoft.com/manage/environments/For a GCC, GCC High,

[2022-11-11 11:15] manuelap-msft commented on #1590
Thanks for providing feedback - in this GitHub repo, we only track feedback related to documentation - if you have issues with the setup and configuration of the kit itself, can you please raise them via https://aka.ms/coe-starter-kit-issues for our development team to have a look at it! Thank you!

[2022-11-11 11:15] #1590 closed

[2022-11-11 11:18] poi-radvine commented on #1590
Hi, this is feedback to the documentation.
The old URL https://flow.microsoft.com/manage/environments/ is not longer in use since the change performend in 5/22

[2022-11-11 11:42] manuelap-msft commented on #1590
We are tracking the URL change for Documation already via #1571 but there is still a redirect in place by the product from flow.microsoft.com to make.powerautomate.com

[2022-11-11 20:31] phecke commented on #1588
@AkunerTulachan Thanks for contacting us. Unfortunately, we're unable to handle Support requests for the product here. To contact Support, see here: https://admin.powerplatform.microsoft.com/support Closing this issue.

If you have a question about an article, please provide the article URL and your question. Thanks.

[2022-11-11 20:31] #1588 closed

[2022-11-15 14:08] RebekkaAalbers opened #1597 "Feedback on content Gather environment variable values - section"
https://learn.microsoft.com/en-us/power-platform/guidance/coe/setup-core-components#gather-environment-variable-values

- Power Platform Maker Microsoft 365 Group: this is mentioned as a mandatory value, but it is only mandatory if the welcom email and maker community proces is used.
- Power Automate environment variable description still contaings the old url instead of make.powerautomate.com/env

[2022-11-16 16:37] robdawsoncranhillinsight commented on #1582
Any update please @jimholtz ? This is blocking creation of our production environment. Tenant is Australia but I want to create the Dynamics 365 environment in Europe to co-lo with majority of users. Many thanks.

[2022-11-16 17:23] djaysnider opened #1602 "Outdated Instructions"
Instructions are outdated.  There is a "Convert to Sandbox" link at the top of the page now.  You can no longer change from production to sandbox from the editing screen.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5cd73afb-e2cf-acba-4d91-ec5700c36864
* Version Independent ID: 83657a57-1fc6-8270-24cf-00d68f9918de
*

[2022-11-16 19:21] MichaelGernaey opened #1603 "The Page says that Validate can be used for Verifying that a Column is Required. Its the first bullet. But how?"
[Enter feedback here]
Hello,
We want to use the Validate function to verify that a lookup column is required. DataSourceInfo does not work on lookups so we are trying to validate.

It says clearly below and on the page in the first bubble that it can validate if a column is required, but we cannot find an example. Please add one..

Thanks!

- **whether a column requires a value**
- how long a stri

[2022-11-16 20:00] bishalgoswami commented on #1603
Thanks for your comment, @MichaelGernaey. This issue has been assigned to the doc author for review.

[2022-11-16 20:51] MichaelGernaey commented on #1603
Thanks. Just an FYI. This is for an internal Microsoft Project for Federal and I realize doc changes etc can be slow. I retired from Microsoft myself. We just need to find out if its even possible to do what we want using the function, even before the document is updated. If thats possible please v-mgernaey@microsoft.com and before retirement mgern Thanks!

[2022-11-18 00:16] davinsgithub opened #1605 "Manage Subscriptions - Microsoft 265 Admin Center"
Manage Subscriptions (https://learn.microsoft.com/en-us/power-platform/admin/use-office-365-admin-center-manage-subscription#manage-subscriptions) on the Page seems to show the older UI, as the new Microsoft 365 Admin center doesn't have the option of Subscriptions under **Billing**.

![image](https://user-images.githubusercontent.com/91287781/202587440-b6dede87-6523-4f67-b360-0d5566ac81c9.png)

-

[2022-11-18 02:59] davinsgithub opened #1606 "Default Environment - Incorrect Environment Maker role description"
![image](https://user-images.githubusercontent.com/91287781/202606185-72ecb9cb-9ea1-4653-8c81-e4c9cdf6b72c.png)

The description of the Environment Maker role listed on the environment, doesn't seem to be correct, as the Environment Maker does not have the ability to add/remove users.

 ---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue li

[2022-11-18 03:03] davinsgithub commented on #1606
Ignore the issue. I read it as the permissions is on the Environment Maker role itself, however it is describing the screen, that it is used to add/remove users to Environment Maker.

[2022-11-18 03:03] #1606 closed

[2022-11-18 08:21] lar-mar commented on #1561
Topic is already covered in this repo:
https://github.com/microsoft/powerplatform-build-tools/issues/239

[2022-11-18 08:21] #1561 closed

[2022-11-18 08:21] lar-mar commented on #1561
Topic is already covered in this repo:
https://github.com/microsoft/powerplatform-build-tools/issues/239

[2022-11-18 15:02] JeroenLeeflang commented on #1306
Any update?

[2022-11-18 16:07] PriyaKodukula commented on #1306
What is the issue?

Thanks,
Priya Kodukula
________________________________
From: Jeroen ***@***.***>
Sent: Friday, November 18, 2022 7:02 AM
To: MicrosoftDocs/power-platform ***@***.***>
Cc: Priya Kodukula ***@***.***>; Assign ***@***.***>
Subject: Re: [MicrosoftDocs/power-platform] How does it work for a Dataverse "When a row is added" trigger (Issue #1306)

Any update?

—
Reply to this email di

[2022-11-18 21:54] v-alarioza commented on #1325
@Dealgan12 Do you have any updates on this?

[2022-11-18 21:56] v-alarioza commented on #883
@GomesLuciano Did you resolve this issue? I'm not sure what the state of the doc was back when you opened this, but looking at it today, it appears to be correct.

[2022-11-19 04:19] davinsgithub opened #1608 "Create-an-environment-with-a-database (Selection of D365 Aps)"
In the section https://learn.microsoft.com/en-us/power-platform/admin/create-environment#create-an-environment-with-a-database
**Enable Dynamics 365 app:** Select Yes and make a selection to automatically deploy apps such as Dynamics 365 Sales and Dynamics 365 Customer Service. If you don't select Yes at the time of database provisioning, you won’t be able to make this change later nor be able to

[2022-11-19 21:44] muges01 opened #1609 "Missing CenterOfExcellenceCoreComponentsTeams_x_x_x_xx_managed.zip in the downloaded CoEStarterKit.zip"
The CenterOfExcellenceCoreComponentsTeams_x_x_x_xx_managed.zip is missing in the download CoEStarterKit.zip.
Downloaded Date 19/11/2022.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9fe69498-a485-5379-97ff-53fbe029f11a
* Version Independent ID: 5b3f9705-9e49-1575-4ae7-0293d12b739c
* Content: [Set up inventory compon

[2022-11-19 22:00] bishalgoswami commented on #1609
Thanks for your comment, @muges01. This issue has been assigned to the doc author for review.

[2022-11-20 18:25] davinsgithub opened #1610 "Control who can create and manage environments in the Power Platform admin center"
After **Step 3. Select Power Platform settings.**, the following is now displayed

![image](https://user-images.githubusercontent.com/91287781/202919135-ff053cc8-bc58-4c91-9e2c-73c37292406e.png)

and then you would have to select either of the "Production environment assignments" or "Trial environment assignments" to get the respective screen to set who can manage that type of environment:

![imag

[2022-11-20 18:34] davinsgithub opened #1611 "Who can create Environment"
Within the PP admin, "Delegated admins" are also mentioned:
![image](https://user-images.githubusercontent.com/91287781/202919384-f77b5d7d-a12d-46e2-8100-c326edc3cc62.png)

**however, the documentation doesn't mention the "Delegated admin", instead mentions the following:
The following admins will be able to create new environments in the Power Platform admin center:

Global admins
Dynamics 365 ad

[2022-11-20 21:30] danmyhre opened #1612 "Policy Management Incorrect"
In this section, it shows to go to "Environment" policies. There is no such section in the admin center

https://learn.microsoft.com/en-us/power-platform/admin/inactive-teams-environment#set-dataverse-for-teams-environment-deletion-policy

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 027010ad-198c-2ae6-f96e-ac02ff02b

[2022-11-20 22:00] bishalgoswami commented on #1612
Thanks for your comment, @danmyhre. This issue has been assigned to the doc author for review.

[2022-11-21 08:22] Dealgan12 commented on #1325
@v-alarioza This is the response from our Japanese linguist

No fixing will be done based on the following reason.

In this article, the source introduces how to build a chat bot but does not list the 2 search words in singular and plural forms "national holiday" and "national holiday". All the 9 occurrences of "national holidays" are all plural forms. And the linguist confirms that they are all t

[2022-11-21 22:56] davinsgithub opened #1613 "Reset Environments"
The documentation mentions that "You can only reset sandbox environments.", however the Developer environment can also be reset.

![image](https://user-images.githubusercontent.com/91287781/203174298-92fe115d-69c7-41b4-ade8-76e001ee0df8.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2d6079da-6ab0-c463-44aa-06055b

[2022-11-22 13:44] Gpzim98 opened #1615 "Documentation pointing PowerPlatformEnvironment to a wrong service connection"
The documentation says that the parameter PowerPlatformEnvironment expects a Service Connections of type Power Platform, which is wrong, this parameter expects a generic service connection.
The parameter PowerPlatformSPN is the one that expects a Service Connection type Power Platform

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft

[2022-11-22 14:00] bishalgoswami commented on #1615
Thanks for your comment, @Gpzim98. This issue has been assigned to the doc author for review.

[2022-11-22 14:53] faabbasi1 opened #1616 "Misspelled word"
Misspelled the word "who" (written as "wo")

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c88b22a4-1e9b-5d08-856f-5d33c1b32b69
* Version Independent ID: 0fe6bf51-fa94-e988-4ce6-2954fc9a8b84
* Content: [Internal training events - Microsoft Power Platform - Power Platform](https://learn.microsoft.com/en-us/power-platfo

[2022-11-22 16:05] Ra0R opened #1617 "Deprecated?: Editing topics in composer"
The described steps in the documentation do not seem to be reproducible as of today (22.11.22).

Specifically step 2

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: abc0b9a3-1ec0-d1df-1b5d-2ae1ca2d2f20
* Version Independent ID: aca14f37-8e54-2eca-3c05-03ce50189010
* Content: [Use Bot Framework Composer with chatbots -

[2022-11-22 18:00] bishalgoswami commented on #1617
Thanks for your comment, @Ra0R. This issue has been assigned to the doc author for review.

[2022-11-23 08:57] ashes2076 opened #1619 "Broken links in the documentation"
Certain links in the documentation seems to be broken/not updated.
[https://github.com/microsoft/coe-starter-kit/blob/main/ALMAcceleratorSampleSolution/config/deploymentSettings.json](url)
[https://github.com/microsoft/coe-starter-kit/blob/main/ALMAcceleratorSampleSolution/config/customDeploymentSettings.json](url)
![image](https://user-images.githubusercontent.com/33659558/203505700-07722eb0-5d98

[2022-11-23 10:00] bishalgoswami commented on #1619
Thanks for your comment, @ashes2076. This issue has been assigned to the doc author for review.

[2022-11-23 12:45] U2UTrainer opened #1620 "Issue installing the profiler in the Plugin Registration Tool"
Hi,

When I try to use _pac tool prt_ to install and launch the PRT I get an error installing the Profiler. The error message is:
Unhandled Exception: System.InvalidOperationException: Unable to locate the "PluginProfiler.Solution.zip" file. Make sure that it is in the same directory as the PluginProfiler.Library.dll assembly.

When I install the PRT using the Nuget package this issue does not occ

[2022-11-24 00:52] Paulabacaltchuk opened #1622 "Additional instructions or more references to syntax"
Hi team,

I just love the content you had published about PowerApps and the search and filter functionalities.
However, for first timers, that was not enough for me to get through my configuration correctly. I have researched in several forums and found even more syntaxes to be used, but none of them is working for me until today.
I will continue searching about what am I doing wrong, even when I

[2022-11-24 02:00] bishalgoswami commented on #1622
Thanks for your comment, @Paulabacaltchuk. This issue has been assigned to the doc author for review.

[2022-11-24 08:00] stupidWall opened #1623 "Issue about the `pac canvas pack` command"
### Prerequisite
- I have a solution that includes canvas powerapps
- I implemented a code component
- I imported my code component into my solution that includes the canvas app, and I used the code component in my canvas app
- I exported the solution, so I manage the source code of the solution
- My PowerPlatform CLI Version 1.19.4

### Issue
When I imported my solution into my environment and tr

[2022-11-25 13:46] maykul opened #1624 "Global Administrators does not honor Security Group restrictions."
Update "Note the following about security groups:" and Add this point.

If a user is not a part of assigned security group to environment but is a global administrator, user will still show as active user and will be able to log in.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9aafd67e-8013-565e-6566-9773136c4405
*

[2022-11-25 14:00] bishalgoswami commented on #1624
Thanks for your comment, @maykul. This issue has been assigned to the doc author for review.

[2022-11-25 14:03] RebekkaAalbers opened #1625 "App name incorrect"
Section 'Share apps with admins and makers'
The Environment Request App is actually called 'Maker - Environment Request'

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4c1223b3-ffe0-3f45-b537-f712cf21e5ea
* Version Independent ID: 4c1223b3-ffe0-3f45-b537-f712cf21e5ea
* Content: [Set up environment request components -

[2022-11-25 14:24] manuelap-msft commented on #1625
Thank you! Fixed locally ready for our next docs release!

[2022-11-25 16:00] bishalgoswami commented on #1625
Thanks for your comment, @RebekkaAalbers. This issue has been assigned to the doc author for review.

[2022-11-25 18:01] chris-nguyen-MSFT opened #1626 "Environment Maker + System Customizer role do not have Create privilege for Security Role table"
Under the below section:

### Environments with a Dataverse database
If the environment has a Dataverse database, a user must be assigned the System Administrator role instead of the Environment Admin role for full admin privileges, as described in the following table.

For users who make apps that connect to the database **and need to create or update entities and security roles, you need to assi

[2022-11-25 20:00] bishalgoswami commented on #1626
Thanks for your comment, @chris-nguyen-MSFT. This issue has been assigned to the doc author for review.

[2022-11-28 10:45] mattmblackmore opened #1627 "Link to PDF is dead"
The following link on this page seems to be dead and no longer works:

https://download.microsoft.com/download/E/D/0/ED05CA70-190F-4BAE-9F6A-0BB2F0010B81/Setup%20Guide%20Server-side%20synchronization%20for%20CRM%20Online%20and%20Exchange%20Server.pdf

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 611b02d6-4bb1-2fa9-e3

[2022-11-28 11:44] manuelap-msft commented on #1609
Please see the note in this section: https://learn.microsoft.com/en-us/power-platform/guidance/coe/setup#decide-what-environment-type-to-use-production-or-dataverse-for-teams

We are no longer investing in the Dataverse for Teams version of the CoE Starter Kit. You can download the latest available version here: https://aka.ms/CoEStarterKitD4T but it will no longer be included in current releases.

[2022-11-28 11:44] #1609 closed

[2022-11-28 11:49] manuelap-msft commented on #1597
`1. Power Platform Maker Microsoft 365 Group: this is mentioned as a mandatory value, but it is only mandatory if the welcom email and maker community process is used.`

We consider it mandatory as the setup flow **Admin | Add Maker to Group** can't be turned on without it.

`3. Power Automate environment variable description still contaings the old url instead of make.powerautomate.com/environmen

[2022-11-28 17:18] #1443 closed

[2022-11-28 17:18] #883 closed

[2022-11-28 17:19] #851 closed

[2022-11-28 21:44] RedsGT commented on #1624
Created internal PR to add "If a user is not a part of the assigned security group to the environment but has the Azure tenant Global Administrator role, the user will still show as an active user and will be able to log in." to the notes.

[2022-11-29 08:30] BPPGitHubAdmin opened #1628 "Blank Power Automate Input Variables table"
Hi

It seems that all titles inside the power automate variable inputs are gone.
I don't know where to input the different values.
![image](https://user-images.githubusercontent.com/101800991/204478267-c2fa7c6b-725c-4f87-a30d-1d2b1d9e9c79.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0e88f289-b527-30ab-a2b5-a27d

[2022-11-29 10:00] bishalgoswami commented on #1628
Thanks for your comment, @BPPGitHubAdmin. This issue has been assigned to the doc author for review.

[2022-11-29 10:04] manuelap-msft commented on #1628
Hello,

as this happens before install of the CoE kit, it's unrelated to the CoE kit solution itself and likely a product/platform issue. We have sometimes seen this in an environment where English wasn't installed as a language. If your problem persists, I recommend raising a ticket with Microsoft Support https://learn.microsoft.com/en-us/power-platform/admin/get-help-support

[2022-11-29 10:04] #1628 closed

[2022-11-29 14:25] davcano commented on #687
Hello.
I'm facing the same issue. May be weirder than this, because I did a deployment yesterday, all my flows were disabled and impossible to retrieve them with the Get-AdminFlow on the moment. But this morning, my flows are still disabled but I can retrieve them with the Get-AdminFlow command...
Can anyone help us on this?
Best regardes

[2022-11-29 14:51] davcano opened #1629 "Get-AdminFlow + Flows imported as disabled"
Hello.

I'm facing the same issue as this one: https://github.com/MicrosoftDocs/power-platform/issues/687.
May be weirder than this, because I did a deployment yesterday, all my flows were disabled and impossible to retrieve them with the Get-AdminFlow on the moment.
But this morning, my flows are still disabled but I can retrieve them with the Get-AdminFlow command...

Can anyone help us on this?

[2022-11-29 15:17] davcano commented on #1629
Update: I did a new test, and after importing of my solution, Flows are retrieved by the Get-AdminFlow after 50 minutes... Do we have official delay by Microsoft on this?

[2022-11-30 14:19] crcarley opened #1631 "Availability in Germany Confirmed"
The reference of integration not being available in Germany I believe to be incorrect. I think this may be left over from when Germany had a dedicated cloud. A Microsoft employee in Germany tested the integration in a Germany hosted environment without issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 63017419-1a4